---
import TabComponentScript from "../scripts/TabComponent.js?url";
// TabComponent.astro
import { Image } from "astro:assets";
import TabBg from "../images/2025/tab_bg.webp";
import DukedonTitle from "../images/2025/dukedon__title.svg";
import DukedonNormal from "../images/2025/dukedon_normal.svg";
import DukedonNormal1 from "../images/2025/dukedon_normal_1.webp";
import DukedonNormal2 from "../images/2025/dukedon_normal_2.webp";
import DukedonNormal3 from "../images/2025/dukedon_normal_3.webp";
import DukedonNormal4 from "../images/2025/dukedon_normal_4.webp";
import DukedonNormal5 from "../images/2025/dukedon_normal_5.webp";
import DukedonNormal6 from "../images/2025/dukedon_normal_6.webp";
import DukedonNormal7 from "../images/2025/dukedon_normal_7.webp";
import DukedonPremium from "../images/2025/dukedon_premium.svg";
import DukedonPremium1 from "../images/2025/dukedon_premium_1.webp";
import DukedonPremium2 from "../images/2025/dukedon_premium_2.webp";
import DukedonPremium3 from "../images/2025/dukedon_premium_3.webp";
import DukedonPremium4 from "../images/2025/dukedon_premium_4.webp";
import DukedonPremium5 from "../images/2025/dukedon_premium_5.webp";
import Meat1 from "../images/2025/meat_1.svg";
import Meat2 from "../images/2025/meat_2.svg";
import Meat3 from "../images/2025/meat_3.svg";
import Meat4 from "../images/2025/meat_4.svg";
import Meat5 from "../images/2025/meat_5.svg";
import Meat6 from "../images/2025/meat_6.svg";
import Meat7 from "../images/2025/meat_7.svg";
import Meat8 from "../images/2025/meat_8.svg";
import Meat9 from "../images/2025/meat_9.svg";
import Meat10 from "../images/2025/meat_10.svg";
import Sweets1 from "../images/2025/sweets_1.svg";
import Sweets2 from "../images/2025/sweets_2.svg";
import Sweets3 from "../images/2025/sweets_3.svg";
import Sweets4 from "../images/2025/sweets_4.svg";
import Sweets5 from "../images/2025/sweets_5.svg";
import Open1 from "../images/2025/open_1.svg";
import Open2 from "../images/2025/open_2.svg";
import Open3 from "../images/2025/open_3.svg";
import Open4 from "../images/2025/open_4.svg";
import Open5 from "../images/2025/open_5.svg";
import Open6 from "../images/2025/open_6.svg";
import Open7 from "../images/2025/open_7.svg";
import Open8 from "../images/2025/open_8.svg";
import Open9 from "../images/2025/open_9.svg";
import Other1 from "../images/2025/other_1.svg";
import Other2 from "../images/2025/other_2.svg";
import Other3 from "../images/2025/other_3.svg";
import Other4 from "../images/2025/other_4.svg";
---

<section id="food" class="tab-container anchor-section">
    <div class="tab-buttons">
        <button class="tab-button active lanove" data-tab="dukedon">
            <span class="tab-text">鰺ヶ沢ご当地丼<br />ヒラメのヅケ丼</span>
        </button>
        <button class="tab-button lanove" data-tab="meat">
            <span class="tab-text">お肉料理</span>
        </button>
        <button class="tab-button lanove" data-tab="sweets">
            <span class="tab-text">スイーツ</span>
        </button>
        <button class="tab-button lanove" data-tab="open">
            <span class="tab-text"
                >オープンコーナー<br />（魚介類・野菜等グルメ）</span
            >
        </button>
        <button class="tab-button lanove" data-tab="other">
            <span class="tab-text">交流都市<br />近隣市町村出店</span>
        </button>
    </div>

    <div class="tab-content">
        <div class="tab-panel active" id="dukedon-panel">
            <div class="panel-content">
                <div class="dukedon-container">
                    <!-- タイトル画像 -->
                    <div class="dukedon-title-section">
                        <Image
                            src={DukedonTitle}
                            alt="鰺ヶ沢ご当地丼"
                            class="dukedon-title"
                        />
                    </div>

                    <!-- ノーマル漬け丼セクション -->
                    <div class="dukedon-section">
                        <div class="section-header">
                            <Image
                                src={DukedonNormal}
                                alt="ノーマル漬け丼"
                                class="section-title"
                                width={500}
                                height={100}
                            />
                        </div>
                        <div class="dukedon-grid">
                            <div class="dukedon-item">
                                <Image
                                    src={DukedonNormal1}
                                    alt="ノーマル漬け丼1"
                                />
                            </div>
                            <div class="dukedon-item">
                                <Image
                                    src={DukedonNormal2}
                                    alt="ノーマル漬け丼2"
                                />
                            </div>
                            <div class="dukedon-item">
                                <Image
                                    src={DukedonNormal3}
                                    alt="ノーマル漬け丼3"
                                />
                            </div>
                            <div class="dukedon-item">
                                <Image
                                    src={DukedonNormal4}
                                    alt="ノーマル漬け丼4"
                                />
                            </div>
                            <div class="dukedon-item">
                                <Image
                                    src={DukedonNormal5}
                                    alt="ノーマル漬け丼5"
                                />
                            </div>
                            <div class="dukedon-item">
                                <Image
                                    src={DukedonNormal6}
                                    alt="ノーマル漬け丼6"
                                />
                            </div>
                            <div class="dukedon-item">
                                <Image
                                    src={DukedonNormal7}
                                    alt="ノーマル漬け丼7"
                                />
                            </div>
                        </div>
                    </div>

                    <!-- プレミアム漬け丼セクション -->
                    <div class="dukedon-section">
                        <div class="section-header">
                            <Image
                                src={DukedonPremium}
                                alt="プレミアム漬け丼"
                                class="section-title"
                                width={500}
                                height={100}
                            />
                        </div>
                        <div class="dukedon-grid">
                            <div class="dukedon-item">
                                <Image
                                    src={DukedonPremium1}
                                    alt="プレミアム漬け丼1"
                                />
                            </div>
                            <div class="dukedon-item">
                                <Image
                                    src={DukedonPremium2}
                                    alt="プレミアム漬け丼2"
                                />
                            </div>
                            <div class="dukedon-item">
                                <Image
                                    src={DukedonPremium3}
                                    alt="プレミアム漬け丼3"
                                />
                            </div>
                            <div class="dukedon-item">
                                <Image
                                    src={DukedonPremium4}
                                    alt="プレミアム漬け丼4"
                                />
                            </div>
                            <div class="dukedon-item">
                                <Image
                                    src={DukedonPremium5}
                                    alt="プレミアム漬け丼5"
                                />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="tab-panel" id="meat-panel">
            <div class="panel-content">
                <div class="meat-container">
                    <div class="meat-grid">
                        <div class="meat-item">
                            <Image src={Meat1} alt="お肉料理1" />
                        </div>
                        <div class="meat-item">
                            <Image src={Meat2} alt="お肉料理2" />
                        </div>
                        <div class="meat-item">
                            <Image src={Meat3} alt="お肉料理3" />
                        </div>
                        <div class="meat-item">
                            <Image src={Meat4} alt="お肉料理4" />
                        </div>
                        <div class="meat-item">
                            <Image src={Meat5} alt="お肉料理5" />
                        </div>
                        <div class="meat-item">
                            <Image src={Meat6} alt="お肉料理6" />
                        </div>
                        <div class="meat-item">
                            <Image src={Meat7} alt="お肉料理7" />
                        </div>
                        <div class="meat-item">
                            <Image src={Meat8} alt="お肉料理8" />
                        </div>
                        <div class="meat-item">
                            <Image src={Meat9} alt="お肉料理9" />
                        </div>
                        <div class="meat-item">
                            <Image src={Meat10} alt="お肉料理10" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="tab-panel" id="sweets-panel">
            <div class="panel-content">
                <div class="sweets-container">
                    <div class="sweets-grid">
                        <div class="sweets-item">
                            <Image src={Sweets1} alt="スイーツ1" />
                        </div>
                        <div class="sweets-item">
                            <Image src={Sweets2} alt="スイーツ2" />
                        </div>
                        <div class="sweets-item">
                            <Image src={Sweets3} alt="スイーツ3" />
                        </div>
                        <div class="sweets-item">
                            <Image src={Sweets4} alt="スイーツ4" />
                        </div>
                        <div class="sweets-item">
                            <Image src={Sweets5} alt="スイーツ5" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- openタブパネル -->
        <div class="tab-panel" id="open-panel">
            <div class="panel-content">
                <div class="open-container">
                    <div class="open-grid">
                        <div class="open-item">
                            <Image src={Open1} alt="open1" />
                        </div>
                        <div class="open-item">
                            <Image src={Open2} alt="open2" />
                        </div>
                        <div class="open-item">
                            <Image src={Open3} alt="open3" />
                        </div>
                        <div class="open-item">
                            <Image src={Open4} alt="open4" />
                        </div>
                        <div class="open-item">
                            <Image src={Open5} alt="open5" />
                        </div>
                        <div class="open-item">
                            <Image src={Open6} alt="open6" />
                        </div>
                        <div class="open-item">
                            <Image src={Open7} alt="open7" />
                        </div>
                        <div class="open-item">
                            <Image src={Open8} alt="open8" />
                        </div>
                        <div class="open-item">
                            <Image src={Open9} alt="open9" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- otherタブパネル -->
        <div class="tab-panel" id="other-panel">
            <div class="panel-content">
                <div class="other-container">
                    <div class="other-grid">
                        <div class="other-item">
                            <Image src={Other1} alt="other1" />
                        </div>
                        <div class="other-item">
                            <Image src={Other2} alt="other2" />
                        </div>
                        <div class="other-item">
                            <Image src={Other3} alt="other3" />
                        </div>
                        <div class="other-item">
                            <Image src={Other4} alt="other4" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<style src="../styles/TabComponent.css"></style>

    .lanove {
        font-family: lanove;
    }

    .tab-container {
        width: 100%;
        max-width: 1920px;
        margin: 0 auto;
        font-family: "lanove", "Arial", sans-serif;
    }

    .tab-buttons {
        display: flex;
        border-bottom: 2px solid #40220f;
        margin-bottom: 20px;
        width: 100%;
    }

    .tab-button {
        flex: 1;
        padding: 20px 24px;
        background: #fff;
        border: none;
        cursor: pointer;
        font-size: 16px;
        font-weight: 500;
        color: #666;
        border-bottom: 3px solid transparent;
        transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
        text-align: center;
        border-radius: 8px 8px 0 0;
        min-height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        overflow: hidden;
    }

    .tab-bg-image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
    }

    .tab-bg-image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .tab-text {
        position: relative;
        z-index: 2;
        color: #40220f;
        text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.8);
        font-weight: bold;
    }

    .tab-button:hover {
        color: #333;
        transform: translateY(-2px);
        box-shadow: 0 6px 20px rgba(64, 34, 15, 0.2);
    }

    .tab-button:hover .tab-bg-image img {
        filter: brightness(1.05);
    }

    .tab-button:hover .tab-text {
        transform: scale(1.02);
    }

    .tab-button.active {
        color: #40220f;
        border-bottom-color: #40220f;
        transform: scale(1.02);
        box-shadow: 0 4px 15px rgba(64, 34, 15, 0.3);
    }

    .tab-button.active .tab-bg-image img {
        filter: brightness(1.1) contrast(1.1);
    }

    .tab-button.active .tab-text {
        color: #40220f;
        text-shadow:
            2px 2px 4px rgba(255, 255, 255, 0.9),
            0 0 8px rgba(255, 255, 255, 0.6);
        font-weight: bold;
        transform: scale(1.05);
    }

    .panel-content {
        max-width: 1440px;
        margin: 0 auto;
        position: relative;
        z-index: 2;
        padding: 5rem;
        color: #40220f;
        text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.9);
    }

    /* dukedonコンテンツのスタイリング */
    .dukedon-container {
        width: 100%;
    }

    .dukedon-title-section {
        text-align: center;
        margin-bottom: 40px;
    }

    .dukedon-title {
        width: 100%;
        max-width: 100%;
        height: auto;
        overflow: hidden;
    }

    .dukedon-section {
        margin-bottom: 40px;
    }

    .section-header {
        text-align: center;
        margin-bottom: 30px;
    }

    .section-title {
        max-width: 500px !important;
        width: 100%;
        height: auto !important;
    }

    .section-title img {
        width: 100% !important;
        height: auto !important;
    }

    .dukedon-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        margin-bottom: 30px;
    }

    .dukedon-item {
        text-align: center;
        transition: transform 0.3s ease;
    }

    .dukedon-item:hover {
        transform: scale(1.05);
    }

    .dukedon-item img {
        width: 100%;
        height: auto;
        border-radius: 8px;
    }

    /* meatコンテンツのスタイリング */
    .meat-container {
        width: 100%;
    }

    .meat-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        margin-bottom: 30px;
    }

    .meat-item {
        text-align: center;
        transition: transform 0.3s ease;
    }

    .meat-item:hover {
        transform: scale(1.05);
    }

    .meat-item img {
        width: 100%;
        height: auto;
        border-radius: 8px;
    }

    /* sweetsコンテンツのスタイリング */
    .sweets-container {
        width: 100%;
    }

    .sweets-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        margin-bottom: 30px;
    }

    .sweets-item {
        text-align: center;
        transition: transform 0.3s ease;
    }

    .sweets-item:hover {
        transform: scale(1.05);
    }

    .sweets-item img {
        width: 100%;
        height: auto;
        border-radius: 8px;
    }

    /* open・otherコンテンツのスタイリング */
    .open-container,
    .other-container {
        width: 100%;
        text-align: center;
        padding: 2rem;
    }

    .open-container h2,
    .other-container h2 {
        color: #40220f;
        font-size: 1.5rem;
        margin-bottom: 1rem;
        font-family: "lanove", Arial, sans-serif;
    }

    .open-container p,
    .other-container p {
        color: #40220f;
        font-size: 1rem;
        line-height: 1.6;
        font-family: "lanove", Arial, sans-serif;
    }

    /* openグリッドのスタイリング */
    .open-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        margin-bottom: 30px;
    }

    .open-item {
        text-align: center;
        transition: transform 0.3s ease;
    }

    .open-item:hover {
        transform: scale(1.05);
    }

    .open-item img {
        width: 100%;
        height: auto;
        border-radius: 8px;
    }

    /* otherグリッドのスタイリング */
    .other-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        margin-bottom: 30px;
    }

    .other-item {
        text-align: center;
        transition: transform 0.3s ease;
    }

    .other-item:hover {
        transform: scale(1.05);
    }

    .other-item img {
        width: 100%;
        height: auto;
        border-radius: 8px;
    }

    .tab-content {
        min-height: 200px;
        max-width: 1440px;
        margin: 0 auto;
        width: 100%;
    }

    .tab-panel {
        display: none;
        padding: 0;
        background: #fff;
        border-radius: 8px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        position: relative;
        overflow: hidden;
        min-height: 200px;
        border: 3px solid #ffffff;
    }

    .tab-panel.active {
        display: block;
        animation: fadeIn 0.3s ease-in;
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
            transform: translateY(10px);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    /* レスポンシブ対応 */
    @media (max-width: 768px) {
        .tab-buttons {
            flex-direction: column;
            gap: 8px;
        }

        .tab-button {
            padding: 16px 20px;
            font-size: 15px;
            min-height: 70px;
            min-width: 280px;
            margin: 0 auto;
        }

        .tab-text {
            line-height: 1.4;
        }

        .panel-content {
            padding: 3rem 2rem;
            max-width: 1440px;
            margin: 0 auto;
            width: 100%;
        }

        /* タブレット・モバイル時は1列表示 */
        .dukedon-grid,
        .meat-grid,
        .sweets-grid,
        .open-grid,
        .other-grid {
            grid-template-columns: 1fr;
        }
    }

    @media (max-width: 480px) {
        .tab-buttons {
            gap: 6px;
        }

        .tab-button {
            padding: 14px 16px;
            font-size: 14px;
            min-width: 260px;
            min-height: 65px;
        }

        .tab-text {
            line-height: 1.3;
        }

        .panel-content {
            padding: 2rem 1rem;
            max-width: 1440px;
            margin: 0 auto;
            width: 100%;
        }

        .tab-container {
            margin: 0 8px;
        }
    }

    /* タブレット用の調整 */
    @media (max-width: 1024px) and (min-width: 769px) {
        .tab-button {
            padding: 18px 20px;
            font-size: 15px;
            min-width: 180px;
        }

        .tab-text {
            line-height: 1.3;
        }
    }
</style>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const tabButtons = document.querySelectorAll(".tab-button");
        const tabPanels = document.querySelectorAll(".tab-panel");

        tabButtons.forEach((button) => {
            button.addEventListener("click", function () {
                const targetTab = this.getAttribute("data-tab");

                // すべてのタブボタンからactiveクラスを削除
                tabButtons.forEach((btn) => btn.classList.remove("active"));

                // すべてのタブパネルを非表示
                tabPanels.forEach((panel) => panel.classList.remove("active"));

                // クリックされたタブボタンにactiveクラスを追加
                this.classList.add("active");

                // 対応するタブパネルを表示
                const targetPanel = document.getElementById(
                    targetTab + "-panel",
                );
                if (targetPanel) {
                    targetPanel.classList.add("active");
                }
            });
        });
    });
</script>
