---
import TabComponentScript from "../scripts/TabComponent.js?url";
// TabComponent.astro
import { Image } from "astro:assets";
import TabBg from "../images/2025/tab_bg.webp";
import DukedonTitle from "../images/2025/dukedon__title.svg";
import DukedonNormal from "../images/2025/dukedon_normal.svg";
import DukedonNormal1 from "../images/2025/dukedon_normal_1.webp";
import DukedonNormal2 from "../images/2025/dukedon_normal_2.webp";
import DukedonNormal3 from "../images/2025/dukedon_normal_3.webp";
import DukedonNormal4 from "../images/2025/dukedon_normal_4.webp";
import DukedonNormal5 from "../images/2025/dukedon_normal_5.webp";
import DukedonNormal6 from "../images/2025/dukedon_normal_6.webp";
import DukedonNormal7 from "../images/2025/dukedon_normal_7.webp";
import DukedonPremium from "../images/2025/dukedon_premium.svg";
import DukedonPremium1 from "../images/2025/dukedon_premium_1.webp";
import DukedonPremium2 from "../images/2025/dukedon_premium_2.webp";
import DukedonPremium3 from "../images/2025/dukedon_premium_3.webp";
import DukedonPremium4 from "../images/2025/dukedon_premium_4.webp";
import DukedonPremium5 from "../images/2025/dukedon_premium_5.webp";
import Meat1 from "../images/2025/meat_1.svg";
import Meat2 from "../images/2025/meat_2.svg";
import Meat3 from "../images/2025/meat_3.svg";
import Meat4 from "../images/2025/meat_4.svg";
import Meat5 from "../images/2025/meat_5.svg";
import Meat6 from "../images/2025/meat_6.svg";
import Meat7 from "../images/2025/meat_7.svg";
import Meat8 from "../images/2025/meat_8.svg";
import Meat9 from "../images/2025/meat_9.svg";
import Meat10 from "../images/2025/meat_10.svg";
import Sweets1 from "../images/2025/sweets_1.svg";
import Sweets2 from "../images/2025/sweets_2.svg";
import Sweets3 from "../images/2025/sweets_3.svg";
import Sweets4 from "../images/2025/sweets_4.svg";
import Sweets5 from "../images/2025/sweets_5.svg";
import Open1 from "../images/2025/open_1.svg";
import Open2 from "../images/2025/open_2.svg";
import Open3 from "../images/2025/open_3.svg";
import Open4 from "../images/2025/open_4.svg";
import Open5 from "../images/2025/open_5.svg";
import Open6 from "../images/2025/open_6.svg";
import Open7 from "../images/2025/open_7.svg";
import Open8 from "../images/2025/open_8.svg";
import Open9 from "../images/2025/open_9.svg";
import Other1 from "../images/2025/other_1.svg";
import Other2 from "../images/2025/other_2.svg";
import Other3 from "../images/2025/other_3.svg";
import Other4 from "../images/2025/other_4.svg";
---

<div class="tab-container">
    <div class="tab-buttons">
        <button class="tab-button active lanove" data-tab="dukedon">
            <div class="tab-bg-image">
                <Image src={TabBg} alt="タブ背景" />
            </div>
            <span class="tab-text">鰺ヶ沢ご当地丼<br />ヒラメのヅケ丼</span>
        </button>
        <button class="tab-button lanove" data-tab="meat">
            <div class="tab-bg-image">
                <Image src={TabBg} alt="タブ背景" />
            </div>
            <span class="tab-text">お肉料理</span>
        </button>
        <button class="tab-button lanove" data-tab="sweets">
            <div class="tab-bg-image">
                <Image src={TabBg} alt="タブ背景" />
            </div>
            <span class="tab-text">スイーツ</span>
        </button>
        <button class="tab-button lanove" data-tab="open">
            <div class="tab-bg-image">
                <Image src={TabBg} alt="タブ背景" />
            </div>
            <span class="tab-text"
                >オープンコーナー<br />（魚介類・野菜等グルメ）</span
            >
        </button>
        <button class="tab-button lanove" data-tab="other">
            <div class="tab-bg-image">
                <Image src={TabBg} alt="タブ背景" />
            </div>
            <span class="tab-text">交流都市<br />近隣市町村出店</span>
        </button>
    </div>

    <div class="tab-content">
        <div class="tab-panel active" id="dukedon-panel">
            <div class="panel-bg-image">
                <Image src={TabBg} alt="パネル背景" />
            </div>
            <div class="panel-content">
                <div class="dukedon-container">
                    <!-- タイトル画像 -->
                    <div class="dukedon-title-section">
                        <Image
                            src={DukedonTitle}
                            alt="鰺ヶ沢ご当地丼"
                            class="dukedon-title"
                        />
                    </div>

                    <!-- ノーマル漬け丼セクション -->
                    <div class="dukedon-section">
                        <div class="section-header">
                            <Image
                                src={DukedonNormal}
                                alt="ノーマル漬け丼"
                                class="section-title"
                                width={500}
                                height={100}
                            />
                        </div>
                        <div class="dukedon-grid">
                            <div class="dukedon-item">
                                <Image
                                    src={DukedonNormal1}
                                    alt="ノーマル漬け丼1"
                                />
                            </div>
                            <div class="dukedon-item">
                                <Image
                                    src={DukedonNormal2}
                                    alt="ノーマル漬け丼2"
                                />
                            </div>
                            <div class="dukedon-item">
                                <Image
                                    src={DukedonNormal3}
                                    alt="ノーマル漬け丼3"
                                />
                            </div>
                            <div class="dukedon-item">
                                <Image
                                    src={DukedonNormal4}
                                    alt="ノーマル漬け丼4"
                                />
                            </div>
                            <div class="dukedon-item">
                                <Image
                                    src={DukedonNormal5}
                                    alt="ノーマル漬け丼5"
                                />
                            </div>
                            <div class="dukedon-item">
                                <Image
                                    src={DukedonNormal6}
                                    alt="ノーマル漬け丼6"
                                />
                            </div>
                            <div class="dukedon-item">
                                <Image
                                    src={DukedonNormal7}
                                    alt="ノーマル漬け丼7"
                                />
                            </div>
                        </div>
                    </div>

                    <!-- プレミアム漬け丼セクション -->
                    <div class="dukedon-section">
                        <div class="section-header">
                            <Image
                                src={DukedonPremium}
                                alt="プレミアム漬け丼"
                                class="section-title"
                                width={500}
                                height={100}
                            />
                        </div>
                        <div class="dukedon-grid">
                            <div class="dukedon-item">
                                <Image
                                    src={DukedonPremium1}
                                    alt="プレミアム漬け丼1"
                                />
                            </div>
                            <div class="dukedon-item">
                                <Image
                                    src={DukedonPremium2}
                                    alt="プレミアム漬け丼2"
                                />
                            </div>
                            <div class="dukedon-item">
                                <Image
                                    src={DukedonPremium3}
                                    alt="プレミアム漬け丼3"
                                />
                            </div>
                            <div class="dukedon-item">
                                <Image
                                    src={DukedonPremium4}
                                    alt="プレミアム漬け丼4"
                                />
                            </div>
                            <div class="dukedon-item">
                                <Image
                                    src={DukedonPremium5}
                                    alt="プレミアム漬け丼5"
                                />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="tab-panel" id="meat-panel">
            <div class="panel-bg-image">
                <Image src={TabBg} alt="パネル背景" />
            </div>
            <div class="panel-content">
                <div class="meat-container">
                    <div class="meat-grid">
                        <div class="meat-item">
                            <Image src={Meat1} alt="お肉料理1" />
                        </div>
                        <div class="meat-item">
                            <Image src={Meat2} alt="お肉料理2" />
                        </div>
                        <div class="meat-item">
                            <Image src={Meat3} alt="お肉料理3" />
                        </div>
                        <div class="meat-item">
                            <Image src={Meat4} alt="お肉料理4" />
                        </div>
                        <div class="meat-item">
                            <Image src={Meat5} alt="お肉料理5" />
                        </div>
                        <div class="meat-item">
                            <Image src={Meat6} alt="お肉料理6" />
                        </div>
                        <div class="meat-item">
                            <Image src={Meat7} alt="お肉料理7" />
                        </div>
                        <div class="meat-item">
                            <Image src={Meat8} alt="お肉料理8" />
                        </div>
                        <div class="meat-item">
                            <Image src={Meat9} alt="お肉料理9" />
                        </div>
                        <div class="meat-item">
                            <Image src={Meat10} alt="お肉料理10" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="tab-panel" id="sweets-panel">
            <div class="panel-bg-image">
                <Image src={TabBg} alt="パネル背景" />
            </div>
            <div class="panel-content">
                <div class="sweets-container">
                    <div class="sweets-grid">
                        <div class="sweets-item">
                            <Image src={Sweets1} alt="スイーツ1" />
                        </div>
                        <div class="sweets-item">
                            <Image src={Sweets2} alt="スイーツ2" />
                        </div>
                        <div class="sweets-item">
                            <Image src={Sweets3} alt="スイーツ3" />
                        </div>
                        <div class="sweets-item">
                            <Image src={Sweets4} alt="スイーツ4" />
                        </div>
                        <div class="sweets-item">
                            <Image src={Sweets5} alt="スイーツ5" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- openタブパネル -->
        <div class="tab-panel" id="open-panel">
            <div class="panel-bg-image">
                <Image src={TabBg} alt="パネル背景" />
            </div>
            <div class="panel-content">
                <div class="open-container">
                    <div class="open-grid">
                        <div class="open-item">
                            <Image src={Open1} alt="open1" />
                        </div>
                        <div class="open-item">
                            <Image src={Open2} alt="open2" />
                        </div>
                        <div class="open-item">
                            <Image src={Open3} alt="open3" />
                        </div>
                        <div class="open-item">
                            <Image src={Open4} alt="open4" />
                        </div>
                        <div class="open-item">
                            <Image src={Open5} alt="open5" />
                        </div>
                        <div class="open-item">
                            <Image src={Open6} alt="open6" />
                        </div>
                        <div class="open-item">
                            <Image src={Open7} alt="open7" />
                        </div>
                        <div class="open-item">
                            <Image src={Open8} alt="open8" />
                        </div>
                        <div class="open-item">
                            <Image src={Open9} alt="open9" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- otherタブパネル -->
        <div class="tab-panel" id="other-panel">
            <div class="panel-bg-image">
                <Image src={TabBg} alt="パネル背景" />
            </div>
            <div class="panel-content">
                <div class="other-container">
                    <div class="other-grid">
                        <div class="other-item">
                            <Image src={Other1} alt="other1" />
                        </div>
                        <div class="other-item">
                            <Image src={Other2} alt="other2" />
                        </div>
                        <div class="other-item">
                            <Image src={Other3} alt="other3" />
                        </div>
                        <div class="other-item">
                            <Image src={Other4} alt="other4" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style src="../styles/TabComponent.css"></style>

<script src={TabComponentScript}></script>
