---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import Maintext from "../images/main-text.svg";
import HeaderTitle from "../images/header-title.svg";
import FooterDesc from "../images/footer__image-desc.svg";
import FooterBgSp from "../images/footer__image-sp.svg";
import Menubar from "../modules/Menubar.astro";
import MainImage from "../images/main-image.webp";
import MainImageSP from "../images/main-image-sp.webp";
import Map from "../images/map.svg";
---

<Layout title="アクセスと会場図 | あじがさわフードフェス2024">
  <Menubar />
  <header class="header">
    <div class="pc">
      <div class="header__image">
        <div class="container">
          <Image
            src={MainImage}
            alt="あじがさわフードフェス2024 メインイメージ"
          />
        </div>
      </div>
      <div class="header__title">
        <div class="container">
          <Image
            src={Maintext}
            alt="メインテキスト"
            class="header__title-text"
          />
          <Image src={HeaderTitle} alt="あじがさわフードフェス2024 タイトル" />
        </div>
      </div>
    </div>
    <div class="sp">
      <Image src={MainImageSP} alt="あじがさわフードフェス2024" />
    </div>
  </header>
  <main>
    <div class="main__desc">
      <div class="container">
        <div class="map">
          <Image src={Map} alt="会場図" />
          <iframe
            src="https://www.google.com/maps/d/embed?mid=1QdeJXAS45WJu1kenk8O6unet2ZGjSd4&ehbc=2E312F&noprof=1"
            width="100%"
            height="600"></iframe>
        </div>
      </div>
    </div>
  </main>
  <footer>
    <div class="footer__image">
      <div class="container">
        <div class="forward">
          <Image src={FooterDesc} alt="概要欄" class="pc" />
          <Image src={FooterBgSp} alt="概要欄" class="sp" />
        </div>
      </div>
    </div>
  </footer>

  <style lang="scss">
    img {
      vertical-align: bottom;
    }
    header,
    main,
    footer {
      background-color: #fffcd1;
    }
    header {
      position: relative;
      z-index: 1;
    }
    main {
      padding: clamp(1rem, 0.8rem + 1vw, 4rem);
      @media (max-width: 767px) {
        margin-bottom: 50px;
      }
    }
    .container {
      max-width: 1920px;
      margin: 0 auto;
    }
    .map {
      max-width: 1920px;
      margin: 120px 0;
      @media (max-width: 599px) {
        margin: 50px 0;
      }
    }
    .header__image {
      width: 100%;
      position: relative;
      z-index: 1;
      .back {
        position: relative;
        z-index: 1;
      }
      .forward {
        position: absolute;
        bottom: -1rem;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
        height: auto;
        z-index: 3;
      }
      img {
        width: 100%;
        height: auto;
      }
    }
    .header__title {
      background-color: #330001;
      position: relative;
      padding: 5rem 5rem 1rem 5rem;
      z-index: 2;
      margin-top: -7rem;
      img {
        width: 100%;
        height: auto;
      }
      .header__title-text {
        width: 100%;
        height: auto;
        margin-top: -20rem;
      }
    }
    .main__desc {
      width: 100%;
      margin: 0 auto;
      img {
        width: 100%;
        height: auto;
      }
      .sp {
        img {
          margin-bottom: 1rem;
        }
      }
    }
    .footer__image {
      background-image: url(/images/footer-bg.svg);
      background-size: cover;
      background-position: top;
      .forward {
        padding: 3rem 0;
      }
      img {
        width: 100% !important;
        height: auto !important;
      }
    }
    .pc {
      display: none;
      @media (min-width: 768px) {
        & {
          display: block;
        }
      }
    }
    .sp {
      display: none;
      @media (max-width: 767px) {
        & {
          display: block;
        }
      }
      img {
        width: 100%;
        height: auto;
      }
    }
  </style>
  <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"
  ></script>
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      var elem = document.querySelector(".grid");
      if (elem) {
        var msnry = new Masonry(elem, {
          itemSelector: ".grid-item",
          percentPosition: true,
          gutter: 10,
        });

        function updateMasonryLayout() {
          if (window.matchMedia("(max-width: 599px)").matches) {
            // SP時の設定
            elem.style.columnWidth = "100%";
          } else if (window.matchMedia("(max-width: 1024px)").matches) {
            // タブレット時の設定
            elem.style.columnWidth = "50%";
          } else {
            // デフォルトの設定
            elem.style.columnWidth = "33.33%"; // 必要に応じて変更
          }
          msnry.layout();
        }

        // 初期レイアウトの設定
        updateMasonryLayout();

        // ウィンドウのリサイズ時にレイアウトを更新
        window.addEventListener("resize", updateMasonryLayout);

        // 事前にホバー用の画像をプリロード
        const hoverImage = new Image();
        hoverImage.src = "/images/stage-event02-hover.png";

        // マウスオーバー時に画像を変更
        var image = document.querySelector(
          'img[src="../images/stage-event02.png"]'
        );
        if (image) {
          image.addEventListener("mouseover", function () {
            image.src = "/images/stage-event02-hover.png";
          });

          // マウスアウト時に元の画像に戻す
          image.addEventListener("mouseout", function () {
            image.src = "../images/stage-event02.png";
          });
        }
      }
    });
  </script>
</Layout>
