---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import Maintext from "../images/main-text.svg";
import HeaderTitle from "../images/header-title.svg";
import FooterDesc from "../images/footer__image-desc.svg";
import FooterBgSp from "../images/footer__image-sp.svg";
import Menubar from "../modules/Menubar.astro";
import MainImage from "../images/main-image.webp";
import MainImageSP from "../images/main-image-sp.webp";
import MainDesc from "../images/main-desc.webp";
import MainDescSP from "../images/main-desc-sp.webp";
import Normal01 from "../images/normal-01.webp";
import Normal02 from "../images/normal-02.webp";
import Normal03 from "../images/normal-03.webp";
import Normal04 from "../images/normal-04.webp";
import Normal05 from "../images/normal-05.webp";
import Normal06 from "../images/normal-06.webp";
import Normal07 from "../images/normal-07.webp";
import Normal08 from "../images/normal-08.webp";
import Normal09 from "../images/normal-09.webp";
import Premium01 from "../images/premium-01.webp";
import Premium02 from "../images/premium-02.webp";
import Premium03 from "../images/premium-03.webp";
import Premium04 from "../images/premium-04.webp";
import Premium05 from "../images/premium-05.webp";
import Premium06 from "../images/premium-06.webp";
import Premium07 from "../images/premium-07.webp";
import Premium08 from "../images/premium-08.webp";
import Meat01 from "../images/meat-01.svg";
import Meat02 from "../images/meat-02.svg";
import Meat03 from "../images/meat-03.svg";
import Meat04 from "../images/meat-04.svg";
import Meat05 from "../images/meat-05.svg";
import Meat06 from "../images/meat-06.svg";
import Meat07 from "../images/meat-07.svg";
import Meat08 from "../images/meat-08.svg";
import Meat09 from "../images/meat-09.svg";
import Meat10 from "../images/meat-10.svg";
import Meat11 from "../images/meat-11.svg";
import Meat12 from "../images/meat-12.svg";
import Open01 from "../images/open-01.svg";
import Open02 from "../images/open-02.svg";
import Open03 from "../images/open-03.svg";
import Open04 from "../images/open-04.svg";
import Open05 from "../images/open-05.svg";
import Open06 from "../images/open-06.svg";
import Open07 from "../images/open-07.svg";
import Open08 from "../images/open-08.svg";
import Open09 from "../images/open-09.svg";
import Open10 from "../images/open-10.svg";
import Open11 from "../images/open-11.svg";
import Open12 from "../images/open-12.svg";
import Sweets01 from "../images/sweets-01.svg";
import Sweets02 from "../images/sweets-02.svg";
import Sweets03 from "../images/sweets-03.svg";
import Sweets04 from "../images/sweets-04.svg";
import Sweets05 from "../images/sweets-05.svg";
import Sweets06 from "../images/sweets-06.svg";
import Sweets07 from "../images/sweets-07.svg";
import Sweets08 from "../images/sweets-08.svg";
import Map from "../images/map.svg";
---

<Layout title="あじがさわフードフェス2024">
  <Menubar />
  <header class="header">
    <div class="pc">
      <div class="header__image">
        <div class="container">
          <Image src={MainImage} alt="あじがさわフードフェス2024" />
        </div>
      </div>
      <div class="header__title">
        <div class="container">
          <Image
            src={Maintext}
            alt="メインテキスト"
            class="header__title-text"
          />
          <Image src={HeaderTitle} alt="あじがさわフードフェス2024" />
        </div>
      </div>
    </div>
    <div class="sp">
      <Image src={MainImageSP} alt="あじがさわフードフェス2024" />
    </div>
  </header>
  <main>
    <div class="main__desc">
      <div class="pc">
        <div class="container">
          <Image src={MainDesc} alt="あじがさわフードフェス2024" />
        </div>
      </div>
      <div class="sp">
        <Image src={MainDescSP} alt="あじがさわフードフェス2024" />
      </div>
      <ul class="drpdwn" id="zukedon">
        <li id="normal">
          <input type="checkbox" checked />
          <h2><span>ヒラメのヅケ丼 ①〜⑨税込1,000円</span></h2>
          <div>
            <p>
              <Image
                src={Normal01}
                alt="ヒラメのヅケ丼ノーマル スーパーとびしま"
              />
            </p>
            <p>
              <Image src={Normal02} alt="ヒラメのヅケ丼ノーマル K2マート" />
            </p>
            <p>
              <Image src={Normal03} alt="ヒラメのヅケ丼ノーマル 居酒屋 良治" />
            </p>
            <p>
              <Image src={Normal04} alt="ヒラメのヅケ丼ノーマル お富久" />
            </p>
            <p>
              <Image src={Normal05} alt="ヒラメのヅケ丼ノーマル 割烹 水天閣" />
            </p>
            <p>
              <Image
                src={Normal06}
                alt="ヒラメのヅケ丼ノーマル ドライブイン汐風"
              />
            </p>
            <p>
              <Image src={Normal07} alt="ヒラメのヅケ丼ノーマル 網野仕出し店" />
            </p>
            <p>
              <Image
                src={Normal08}
                alt="ヅケ丼ノーマル ロックウッドホテル&スパ"
              />
            </p>
            <p>
              <Image src={Normal09} alt="ヅケ丼ノーマル 児雷也" />
            </p>
          </div>
        </li>
        <li id="premium">
          <input type="checkbox" checked />
          <h2><span>ヒラメのヅケ丼プレミアム ⑩〜⑯税込1,500円</span></h2>
          <div>
            <p>
              <Image
                src={Premium01}
                alt="ヒラメのヅケ丼ノーマル スーパーとびしま"
              />
            </p>
            <p>
              <Image src={Premium02} alt="ヒラメのヅケ丼ノーマル K2マート" />
            </p>
            <p>
              <Image src={Premium03} alt="ヒラメのヅケ丼ノーマル 居酒屋 良治" />
            </p>
            <p>
              <Image src={Premium04} alt="ヒラメのヅケ丼ノーマル お富久" />
            </p>
            <p>
              <Image src={Premium05} alt="ヒラメのヅケ丼ノーマル 割烹 水天閣" />
            </p>
            <p>
              <Image
                src={Premium06}
                alt="ヒラメのヅケ丼ノーマル ドライブイン汐風"
              />
            </p>
            <p>
              <Image
                src={Premium07}
                alt="ヒラメのヅケ丼ノーマル 網野仕出し店"
              />
            </p>
            <p>
              <Image
                src={Premium08}
                alt="ヅケ丼ノーマル ロックウッドホテル&スパ"
              />
            </p>
          </div>
        </li>
      </ul>
      <ul class="drpdwn" id="oniku-open">
        <li id="oniku">
          <input type="checkbox" checked />
          <h2><span>お肉コーナー</span></h2>
          <div>
            <p>
              <Image src={Meat01} alt="長谷川自然牧場" />
            </p>
            <p>
              <Image src={Meat02} alt="ABITANiAジャージーファーム" />
            </p>
            <p>
              <Image src={Meat03} alt="たこやき西海" />
            </p>
            <p>
              <Image src={Meat04} alt="焼肉レストラン一心亭 鰺ヶ沢店" />
            </p>
            <p>
              <Image src={Meat05} alt="居酒屋 良治" />
            </p>
            <p>
              <Image src={Meat06} alt="精肉・惣菜 のろ" />
            </p>
            <p>
              <Image src={Meat07} alt="會津めん 浜さき" />
            </p>
            <p>
              <Image src={Meat08} alt="West Side Kitchen" />
            </p>
            <p>
              <Image src={Meat09} alt="から揚げ専門店 こばしょぐ" />
            </p>
            <p>
              <Image src={Meat10} alt="からあげ専門店 鶏笑" />
            </p>
            <p>
              <Image src={Meat11} alt="キッチンBANBAN by幡龍" />
            </p>
            <p>
              <Image src={Meat12} alt="岩手県久慈市 鰺ヶ沢高等学校SBP研究会" />
            </p>
          </div>
        </li>
        <li id="open">
          <input type="checkbox" checked />
          <h2><span>オープンコーナー</span></h2>
          <div>
            <p>
              <Image src={Open01} alt="赤石水産漁協女性部" />
            </p>
            <p>
              <Image src={Open02} alt="らーめん寛" />
            </p>
            <p>
              <Image src={Open03} alt="鰺ヶ沢町農林水産課「元気屋台AJIYA」" />
            </p>
            <p>
              <Image src={Open04} alt="農産物直売所「あじ・彩・感」倶楽部" />
            </p>
            <p>
              <Image src={Open05} alt="いちごや" />
            </p>
            <p>
              <Image src={Open06} alt="CAFÉ水とコーヒー" />
            </p>
            <p>
              <Image src={Open07} alt="株式会社SATO FARM" />
            </p>
            <p>
              <Image src={Open08} alt="Pizza NAPOURA" />
            </p>
            <p>
              <Image src={Open09} alt="活味屋" />
            </p>
            <p>
              <Image src={Open10} alt="大湊海軍カレーパン" />
            </p>
            <p>
              <Image src={Open11} alt="カフェデリーナ" />
            </p>
            <p>
              <Image src={Open12} alt="福士豆腐店" />
            </p>
          </div>
        </li>
      </ul>
      <ul class="drpdwn" id="sweets">
        <li>
          <input type="checkbox" checked />
          <h2><span>スイーツコーナー</span></h2>
          <div>
            <p>
              <Image src={Sweets01} alt="菓子工房TATUYA" />
            </p>
            <p>
              <Image src={Sweets02} alt="café MilMu" />
            </p>
            <p>
              <Image src={Sweets03} alt="銘菓の店 山ざき" />
            </p>
            <p>
              <Image src={Sweets04} alt="まつみや酒店" />
            </p>
            <p>
              <Image src={Sweets05} alt="あっことさっとのアップルパイ" />
            </p>
            <p>
              <Image src={Sweets06} alt="food&design CONVEY" />
            </p>
            <p>
              <Image src={Sweets07} alt="Sanny Blue" />
            </p>
            <p>
              <Image src={Sweets08} alt="サトウコーヒー" />
            </p>
          </div>
        </li>
      </ul>
    </div>
  </main>
  <div class="map-wrapper">
    <Image src={Map} alt="会場図" />
  </div>
  <footer>
    <div class="footer__image">
      <div class="container">
        <div class="forward">
          <Image src={FooterDesc} alt="概要欄" class="pc" />
          <Image src={FooterBgSp} alt="概要欄" class="sp" />
        </div>
      </div>
    </div>
  </footer>
</Layout>
<style lang="scss">
  // ミックスイン
  @mixin mobile {
    @media (max-width: $mobile-breakpoint) {
      @content;
    }
  }
  @mixin tablet {
    @media (min-width: $mobile-breakpoint + 1) and (max-width: $tablet-breakpoint - 1) {
      @content;
    }
  }
  @mixin desktop {
    @media (min-width: $tablet-breakpoint) {
      @content;
    }
  }

  @mixin responsive-font($desktop-size, $mobile-size) {
    font-size: $desktop-size;
    @include mobile {
      font-size: $mobile-size;
    }
  }
  // 変数定義
  $primary-color: #0047ba;
  $white: #fff;
  $grey: #dce7eb;
  $red: #ff6873;
  $mobile-breakpoint: 599px;
  $tablet-breakpoint: 900px;
  // プレースホルダーセレクタ
  %centered-content {
    max-width: 95%;
    margin: 0 auto;
  }

  %transition {
    transition: all 0.25s ease-in-out;
  }
  %no-select {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
    user-select: none;
  }
  %flipIn {
    animation: flipdown 0.5s ease both;
  }

  // 色定義
  $colors: (
    "lightblue": #fffcd2,
    "brown": #510102,
    "pink": #feb3d2,
    "teal": #a0d9f3,
    "lightteal": #c0e9e5,
    "red": #ff0000,
    "white": #fff,
  );

  @each $name, $color in $colors {
    .bg-#{$name} {
      background-color: $color;
    }
  }
  header,
  main,
  footer {
    background-color: #fffcd1;
  }
  header {
    position: relative;
    z-index: 1;
  }
  main {
    padding: clamp(1rem, 0.8rem + 1vw, 4rem);
    @media (max-width: 767px) {
      margin-bottom: 50px;
    }
  }
  .container {
    max-width: 1280px;
    margin: 0 auto;
  }
  .header__image {
    width: 100%;
    position: relative;
    z-index: 1;
    .back {
      position: relative;
      z-index: 1;
    }
    .forward {
      position: absolute;
      bottom: -1rem;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 90%;
      height: auto;
      z-index: 3;
    }
    img {
      width: 100%;
      height: auto;
    }
  }
  .header__title {
    background-color: #330001;
    position: relative;
    padding: 5rem 5rem 1rem 5rem;
    z-index: 2;
    margin-top: -7rem;
    img {
      width: 100%;
      height: auto;
    }
    .header__title-text {
      width: 100%;
      height: auto;
      margin-top: -20rem;
    }
  }
  .main__desc {
    width: 100%;
    margin: 0 auto;
    img {
      width: 100%;
      height: auto;
    }
    .sp {
      img {
        margin-bottom: 1rem;
      }
    }
  }
  .footer__image {
    background-image: url(/images/footer-bg.svg);
    background-size: cover;
    background-position: top;
    .forward {
      padding: 3rem 0;
    }
    img {
      width: 100% !important;
      height: auto !important;
    }
  }
  .pc {
    display: none;
    @media (min-width: 768px) {
      & {
        display: block;
      }
    }
  }
  .sp {
    display: none;
    @media (max-width: 767px) {
      & {
        display: block;
      }
    }
    img {
      width: 100%;
      height: auto;
    }
  }
  h1 {
    font-size: clamp(1.125rem, 0.627rem + 2.03vw, 2.25rem);
    text-align: center;
    background-color: #e60012;
    color: #fff;
    margin-bottom: 5rem;
    width: fit-content;
    padding: 16px 32px;
    margin: 0 auto;
    border-radius: 16px;
  }
  // ドロップダウン
  .drpdwn {
    max-width: 1280px;
    list-style: none;
    perspective: 900px;
    padding: 0;
    overflow: hidden;
    margin: 0 auto;

    h2 {
      color: #510102;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 2rem;

      span {
        flex: 1;
      }
      &::after {
        content: "";
        display: flex;
        width: 2em;
        height: 2em;
        background: url("/images/after.svg") no-repeat center / contain;
      }
    }

    div {
      display: flex;
      flex-wrap: wrap;
      gap: 16px;

      p {
        flex: 1;
        img {
          width: 100%;
          height: auto;
        }
      }

      @include desktop {
        gap: 24px;
        p {
          flex: 0 0 calc(33.33% - 24px);
        }
      }

      @include tablet {
        gap: 16px;
        p {
          flex: 0 0 calc(50% - 16px);
        }
      }

      @include mobile {
        gap: 8px;
        p {
          flex: 0 0 100%;
        }
      }
    }

    li {
      position: relative;
      padding: 0 0 4px;
      margin: 0;
      padding-top: 18px;
      border-top: 1px dotted $grey;
      @extend %flipIn;

      @for $i from 1 through 3 {
        &:nth-of-type(#{$i}) {
          animation-delay: #{0.25 + $i * 0.25}s;
        }
      }

      &:last-of-type {
        padding-bottom: 0;
      }

      i {
        position: absolute;
        transform: translate(-6px, 0);
        margin-top: 16px;
        right: 0;

        &::before,
        &::after {
          content: "";
          @extend %transition;
          position: absolute;
          background-color: $red;
          width: 3px;
          height: 9px;
        }

        &::before {
          transform: translate(-2px, 0) rotate(45deg);
        }
        &::after {
          transform: translate(2px, 0) rotate(-45deg);
        }
      }

      input[type="checkbox"] {
        position: absolute;
        cursor: pointer;
        width: 100%;
        height: 100%;
        z-index: 1;
        opacity: 0;

        &:checked {
          & ~ div {
            margin-top: 0;
            max-height: 0;
            opacity: 0;
            transform: translate(0, 50%);
          }

          & ~ i {
            &::before {
              transform: translate(2px, 0) rotate(45deg);
            }
            &::after {
              transform: translate(-2px, 0) rotate(-45deg);
            }
          }
        }
      }
    }
  }

  @keyframes flipdown {
    0% {
      opacity: 0;
      transform: rotateX(-90deg);
    }
    5% {
      opacity: 1;
    }
    80% {
      transform: rotateX(8deg);
    }
    83% {
      transform: rotateX(6deg);
    }
    92% {
      transform: rotateX(-3deg);
    }
    100% {
      transform: rotateX(0deg);
    }
  }
  .map-wrapper {
    max-width: 1280px;
    margin: 0 auto 60px auto;
    padding: clamp(1rem, 0.8rem + 1vw, 4rem);
    img {
      width: 100%;
      height: auto;
    }
  }
</style>
