---
import Layout from "../layouts/Layout-Special.astro";
import { Image } from "astro:assets";
import Zukedon from "../images/img-zukedon.webp";
import Oniku from "../images/img-oniku.webp";
import Sweets from "../images/img-sweets.webp";
import Ringomusume from "../images/img-ringomusume.webp";
import Kimura from "../images/img-kimura.webp";
import Shouhinken from "../images/img-shouhinken.webp";
import Baloon from "../images/img-baloon.webp";
import Butter from "../images/img-butter.webp";
import Rikishi from "../images/img-rikishi.webp";
import Golf from "../images/img-golf.webp";
---

<Layout title="あじがさわフードフェス2024">
  <header class="header">
    <div class="hero">
      <div class="hero-inner">
        <h1>あじがさわ<br class="sp" /> フードフェスとは？</h1>
        <p>
          これまで青森県鰺ヶ沢町で開催していた春の「ヒラメフェス」と<br
          />夏の「肉のフェスティバル」、秋の「スイーツフェス」、<br
          />３大食イベントを一堂に会した初開催のイベントです！
        </p>
      </div>
    </div>
  </header>
  <main class="main">
    <div class="main_contents">
      <div class="main_contents-hero"></div>

      <div class="main_contents-item">
        <div class="item_left bg-lightblue">
          <h2>鰺ヶ沢町ご当地丼 ヒラメのヅケ丼</h2>
          <p>販売開始10:30～</p>
          <Image src={Zukedon} alt="ヅケ丼" class="js-parallax" data-y="10vw" />
        </div>
        <div class="item_right">
          <h2>鰺ヶ沢町内10店舗から合わせて1,700食の丼が大集結！</h2>
          <p>●ヒラメのヅケ丼</p>
          <ul>
            <li>9店舗 計1,110食</li>
            <li>
              鰺ヶ沢産の極上ヒラメを贅沢にヅケにし、たっぷりとご飯にのせた鰺ヶ沢町の名物です！
            </li>
          </ul>
          <p>●ヒラメのヅケ丼プレミアム</p>
          <ul>
            <li>7店舗 計590食</li>
            <li>
              ヒラメのヅケに、ウニやアワビ、幻の魚「イトウ」などをトッピングした丼。イベント限定丼です！
            </li>
          </ul>
        </div>
      </div>
      <div class="main_contents-item">
        <div class="item_left bg-brown">
          <h2>お肉コーナー<br />オープンコーナー</h2>
          <Image
            src={Oniku}
            alt="お肉コーナー"
            class="js-parallax"
            data-y="10vw"
          />
        </div>
        <div class="item_right">
          <h2>町内外から34店舗が集結！</h2>
          <h3>出店店舗では、鰺ヶ沢町産の食材を使用したメニューを限定販売！</h3>
          <p>●お肉コーナー</p>
          <ul>
            <li>13店舗出店！</li>
            <li>
              鰺ヶ沢町の2大牧場「長谷川自然牧場」の豚肉や「ABITANiAジャージーファーム」の牛肉、町産の野菜・果物などを使用したメニューが登場！鰺ヶ沢町の交流都市「岩手県久慈市」もやって来ます！
            </li>
          </ul>
          <p>●オープンコーナー</p>
          <ul>
            <li>12店舗出店！</li>
            <li>
              鰺ヶ沢町産の魚介類、野菜、果物を使ったメニューが盛り沢山！
              趣向を凝らしたオリジナルメニューを食べ尽くそう！
            </li>
          </ul>
        </div>
      </div>
      <div class="main_contents-item">
        <div class="item_left bg-pink">
          <h2>スイーツコーナー</h2>
          <Image
            src={Sweets}
            alt="スイーツコーナー"
            class="js-parallax"
            data-y="10vw"
          />
        </div>
        <div class="item_right">
          <h2>町内外8店舗が集結！</h2>
          <h3>
            鰺ヶ沢町産のりんごやメロン・栗等の果物、ジャージー牛乳、野菜などを使用したスイーツをご賞味ください！
          </h3>
        </div>
      </div>
      <div class="main_contents-item">
        <div class="item_center bg-teal color-blue">
          <h3>ステージイベント</h3>
          <div class="item_text">
            <ul>
              <li><p>10:00</p><p>オープニングセレモニー</p></li>
              <li>
                <p>11:00</p>
                <p>
                  第2回あじがさわ筋肉のフェスティバル<br />栄冠は誰の手に!?
                </p>
              </li>
              <li>
                <p>13:00</p>
                <p>鰺ヶ沢高等学校PRタイム</p>
              </li>
              <li>
                <p>13:30</p>
                <p>りんご娘スペシャルライブ</p>
              </li>
            </ul>
          </div>
          <div class="item_image box">
            <Image src={Kimura} alt="スイーツコーナー" />
            <Image src={Ringomusume} alt="スイーツコーナー" />
          </div>
        </div>
      </div>
      <div class="main_contents-item">
        <div class="item_center bg-lightteal color-blue">
          <h3>体験イベント・<br class="sp" />抽選会</h3>
          <div class="item_text">
            <h4>デジタル抽選会</h4>
            <p>
              簡単なアンケートに答えて、地元特産品や商品券をGET!<br />
              1等は「鰺ヶ沢町で使える商品券5,000円分」!
            </p>
            <h4>アートバルーン体験</h4>
            <p>
              風船でお魚を作ろう！<br />
              体験無料！
            </p>
            <h4>バター作り体験</h4>
            <p>
              ABITANiAジャージーファームのジャージー牛でバター作り!<br />
              会場で販売しているジャージー牛ステーキにのせて食べるのもお勧めです!<br
              />
              1組 1,500円<br />
              10:15～ 30組/12:50～ 30組
            </p>
          </div>
          <div class="item_image box">
            <Image src={Shouhinken} alt="デジタル抽選会" />
            <Image src={Baloon} alt="アートバルーン体験" />
            <Image src={Butter} alt="バター作り体験" />
          </div>
        </div>
      </div>
      <div class="main_contents-item">
        <div class="item_center bg-red">
          <h3>鰺ヶ沢高等学校<br class="sp" />ブース</h3>
          <div class="item_text">
            <h4>SBP研究会</h4>
            <p>
              鯵高生が長谷川自然牧場ハンバーグ入りの「力士くんおやき」を販売！<br
              />
              その腕前をご賞味あれ！
            </p>
            <h4>パターゴルフ体験</h4>
            <p>
              鰺ヶ沢高校ゴルフ部が運営するコーナーです。<br />
              お一人様5打まで。カップインすると「飴っこ」をプレゼント！
            </p>
          </div>
          <div class="item_image box">
            <Image src={Rikishi} alt="力士くんおやき" />
            <Image src={Golf} alt="パターゴルフ" />
          </div>
        </div>
      </div>
    </div>
  </main>
  <footer class="footer"></footer>
</Layout>
<style lang="scss">
  .bg-lightblue {
    background-color: #009fe8;
  }
  .bg-brown {
    background-color: #510102;
  }
  .bg-pink {
    background-color: #feb3d2;
  }
  .bg-teal {
    background-color: #54c9bd;
  }
  .bg-lightteal {
    background-color: #c0e9e5;
  }
  .bg-red {
    background-color: #ff0000;
  }
  .color-blue {
    color: #0047ba !important;
  }
  .color-white {
    color: #fff;
  }

  header {
    .hero {
      max-width: 95%;
      margin: 0 auto;
      background-color: #0047ba;
      color: #fff;
      border-radius: 1rem;
      .hero-inner {
        margin-top: 60px;
        padding: 2rem;
        h1 {
          font-size: 5vw;
          @media (max-width: 599px) {
            font-size: 11vw;
            margin: 0;
          }
          text-align: center;
          font-weight: 700;
        }
        p {
          font-size: 2vw;
          @media (max-width: 599px) {
            font-size: 5vw;
          }
          font-weight: 600;
          text-align: center;
          line-height: 1.8;
        }
      }
    }
  }
  main {
    padding-bottom: 60px;
    .main_contents {
      max-width: 95%;
      margin: 0 auto;

      .main_contents-item {
        display: flex;
        flex-wrap: wrap;
        @media (max-width: 599px) {
          flex-direction: column;
        }
        gap: 2rem;
        margin-top: 2rem;

        .item_left {
          position: relative;
          border-radius: 1rem;
          padding: clamp(1rem, 0.4rem + 3vw, 4rem);
          color: #fff;
          flex: 1;
          overflow: hidden;
          h2 {
            position: inherit;
            font-size: 2.5vw;
            @media (max-width: 599px) {
              font-size: 6vw;
            }
            font-weight: 900;
            z-index: 2;
          }
          p {
            position: inherit;
            font-size: 2vw;
            @media (max-width: 599px) {
              font-size: 5vw;
            }
            font-weight: 900;
            z-index: 2;
          }
          img {
            width: 100%;
            height: auto;
            position: absolute;
            bottom: 115px;
            right: 0;
            z-index: 1;
          }
        }
        .item_right {
          color: #0047ba;
          flex: 1;
          h2 {
            font-size: 2vw;
            @media (max-width: 599px) {
              font-size: 6vw;
            }
            font-weight: 500;
          }
          h3 {
            font-size: 1.8vw;
            @media (max-width: 599px) {
              font-size: 6vw;
            }
            font-weight: 500;
          }
          p {
            font-size: 1.8vw;
            @media (max-width: 599px) {
              font-size: 5vw;
            }
            font-weight: 500;
            margin-bottom: 8px;
          }
          ul {
            list-style-type: none;
            padding-left: 1em;
            li {
              margin-bottom: 8px;
              font-size: 1.4vw;
              @media (max-width: 599px) {
                font-size: 5vw;
              }
              font-weight: 500;
            }
            li:nth-of-type(1) {
              width: fit-content;
              border-bottom: solid 2px #0047ba;
            }
          }
        }
        .item_center {
          position: relative;
          border-radius: 1rem;
          padding: clamp(1rem, 0.4rem + 3vw, 4rem);
          color: #fff;
          display: flex;
          flex-wrap: wrap;
          gap: 0 clamp(1.875rem, 1.5rem + 1.88vw, 3.75rem);
          h3 {
            font-size: 4vw;
            @media (max-width: 599px) {
              font-size: 10vw;
              text-align: center;
              margin: 1rem 0;
            }
            font-weight: 900;
            width: 100%;
          }
          ul {
            list-style-type: none;
            font-size: 1.8vw;
            font-weight: 600;
            margin: 0;
            padding: 0;
            li {
              display: flex;
              gap: clamp(1rem, 0.6rem + 2vw, 3rem);
              p {
                position: inherit;
                z-index: 2;
              }
            }
          }
          .item_image {
            flex: 1;
            display: flex;
            flex-direction: column;
            gap: clamp(1rem, 5vw, 6rem);
            padding: 2rem;
            img {
              width: 100%;
              height: auto;
              margin: 0 auto;
            }
          }
          .item_text {
            width: 65%;
            @media (max-width: 599px) {
              width: 100%;
            }
            h4 {
              font-size: 3vw;
              @media (max-width: 599px) {
                font-size: 6vw;
              }
              font-weight: 600;
              margin-top: 0;
              margin-bottom: 8px;
            }
            p {
              font-size: 3vw;
              @media (max-width: 599px) {
                font-size: 5vw;
              }
              font-weight: 600;
              margin-bottom: clamp(1rem, -0.4rem + 7vw, 8rem);
            }
          }
        }
      }
    }
  }
  .sp {
    display: none;
    @media (max-width: 599px) {
      display: block;
    }
  }
</style>
<script>
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";
  gsap.registerPlugin(ScrollTrigger);

  gsap.utils.toArray(".js-parallax").forEach((wrap) => {
    const y = wrap.getAttribute("data-y") || -100;

    gsap.to(wrap, {
      y: y,
      scrollTrigger: {
        trigger: wrap,
        start: "top bottom",
        end: "bottom top",
        scrub: 0.1,
        //markers: true
      },
    });
  });
  gsap.utils.toArray(".box").forEach((box) => {
    // .box内のimg要素を取得
    gsap.utils.toArray("img", box).forEach((img) => {
      gsap.fromTo(
        img, // 各imgに対してアニメーション
        {
          scale: 1, // 縦横1倍
          autoAlpha: 0, // アニメーション開始前は透明
        },
        {
          scale: 1.1, // 縦横1.1倍
          autoAlpha: 1, // アニメーション後に出現(透過率0)
          scrollTrigger: {
            trigger: img, // 各imgごとにトリガーを設定
            toggleActions: "play none none reverse", // 上スクロールで戻る
            start: "top center", // アニメーションの開始位置
            markers: true, // マーカー表示
          },
        }
      );
    });
  });
</script>
