---
import Layout from "../layouts/Layout-Special.astro";
import { Image } from "astro:assets";
import Zukedon from "../images/dukedon.webp";
import Oniku from "../images/meat-specials.webp";
import Sweets from "../images/sweets.webp";
import Ringomusume from "../images/img-ringomusume.webp";
import Kimura from "../images/img-kimura.webp";
import Shouhinken from "../images/img-shouhinken.webp";
import Baloon from "../images/img-baloon.webp";
import Butter from "../images/img-butter.webp";
import Rikishi from "../images/img-rikishi.webp";
import Golf from "../images/img-golf.webp";
import FooterDesc from "../images/footer__image-desc.svg";
import FooterBgSp from "../images/footer__image-sp.svg";
import Menubar from "../modules/Menubar.astro";
---

<Layout title="あじがさわフードフェス2024">
  <Menubar />
  <header class="header color-white">
    <div class="hero">
      <div class="hero-inner">
        <h1>あじがさわ<br class="sp" /> フードフェスとは？</h1>
        <p>
          これまで青森県鰺ヶ沢町で開催していた<br />
          春の「ヒラメフェス」、夏の「肉のフェスティバル」、秋の「スイーツフェス」の<br
          />
          ３大食イベントを一堂に会した初開催のイベントです！
        </p>
      </div>
    </div>
  </header>
  <main class="main color-brown">
    <div class="main_contents">
      <div class="main_contents-item">
        <div class="item_left">
          <Image src={Zukedon} alt="ヅケ丼" />
        </div>
        <div class="item_right">
          <h2>
            鯵ヶ沢町ご当地丼<br class="pc" /> ヒラメのヅケ丼<br class="pc" /> 販売開始10:30〜
          </h2>
          <p>鰺ヶ沢町内10店舗から合わせて1,700食の丼が大集結！</p>
          <p>●ヒラメのヅケ丼</p>
          <ul>
            <li>9店舗 計1,110食</li>
            <li>
              鰺ヶ沢産の極上ヒラメを贅沢にヅケにし、たっぷりとご飯にのせた鰺ヶ沢町の名物丼です！
            </li>
          </ul>
          <p>●ヒラメのヅケ丼プレミアム</p>
          <ul>
            <li>7店舗 計590食</li>
            <li>
              ヒラメのヅケに、ウニやアワビ、幻の魚「イトウ」などをトッピングした丼。イベント限定丼です！
            </li>
          </ul>
        </div>
      </div>

      <div class="main_contents-item">
        <div class="item_left">
          <Image src={Oniku} alt="お肉コーナー" />
        </div>
        <div class="item_right">
          <h2>お肉コーナー<br />オープンコーナー</h2>
          <p>町内外から34店舗が集結！</p>
          <h3>出店店舗では、鰺ヶ沢産の食材を使用したメニューを限定販売！</h3>
          <p>●お肉コーナー</p>
          <ul>
            <li>13店舗出店！</li>
            <li>
              鰺ヶ沢町の2大牧場「長谷川自然牧場」の豚肉や「ABITANiAジャージーファーム」の牛肉、鰺ヶ沢産の野菜・果物などを使用したメニューが登場！鰺ヶ沢町の交流都市「岩手県久慈市」もやって来ます！
            </li>
          </ul>
          <p>●オープンコーナー</p>
          <ul>
            <li>12店舗出店！</li>
            <li>
              鰺ヶ沢産の魚介類、野菜、果物を使ったメニューが盛り沢山！趣向を凝らしたオリジナルメニューを食べ尽くそう！
            </li>
          </ul>
        </div>
      </div>

      <div class="main_contents-item">
        <div class="item_left">
          <Image src={Sweets} alt="スイーツコーナー" />
        </div>
        <div class="item_right">
          <h2>スイーツコーナー</h2>
          <p>町内外8店舗が集結！</p>
          <h3>
            鰺ヶ沢産のりんごやメロンなどの果物やジャージー牛乳、野菜を使用したスイーツを販売！<br
            />
            数量限定で「深谷の栗」スイーツも販売予定です！
          </h3>
        </div>
      </div>

      <div class="main_contents-item">
        <div class="item_center bg-teal color-brown">
          <h3>ステージイベント</h3>
          <div class="item_text">
            <ul>
              <li>
                <p>10:00</p><p>
                  オープニングセレモニー<br />鰺ヶ沢中学校音楽部・津軽三味線演奏
                </p>
              </li>
              <li>
                <p>11:00</p>
                <p>
                  第2回あじがさわ筋肉のフェスティバル<br />栄冠は誰の手に!?
                </p>
              </li>
              <li>
                <p>13:00</p>
                <p>鰺ヶ沢高等学校PRタイム</p>
              </li>
              <li>
                <p>13:30</p>
                <p>りんご娘スペシャルライブ</p>
              </li>
            </ul>
          </div>
          <div class="item_image box">
            <div>
              <Image src={Kimura} alt="筋肉フェス" />
            </div>
            <div>
              <Image src={Ringomusume} alt="りんご娘" />
            </div>
          </div>
        </div>
      </div>
      <div class="main_contents-item">
        <div class="item_center bg-teal color-brown">
          <h3>体験イベント・<br class="sp" />抽選会</h3>
          <div class="item_text">
            <h4>●デジタル抽選会</h4>
            <p>
              簡単なアンケートに答えて、地元特産品や商品券をGET！<br />
              1等は「鰺ヶ沢町で使える商品券5,000円分」！
            </p>
            <h4>●アートバルーン体験</h4>
            <p>
              風船でお魚を作ろう！<br />
              体験無料！<br />
              全8回・各回15名様
            </p>
            <h4>●バター作り体験</h4>
            <p>
              ABITABiAジャージーファームのジャージー牛乳でバター作り！<br />
              会場で販売しているジャージー牛ステーキにのせて食べるのもお勧め！<br
              />
              1組 1,500円<br />
              10:15～ 30組/12:50～ 30組
            </p>
          </div>
          <div class="item_image box">
            <div>
              <Image src={Shouhinken} alt="デジタル抽選会" />
            </div>
            <div>
              <Image src={Baloon} alt="アートバルーン体験" />
            </div>
            <div>
              <Image src={Butter} alt="バター作り体験" />
            </div>
          </div>
        </div>
      </div>
      <div class="main_contents-item">
        <div class="item_center bg-teal color-brown">
          <h3>鰺ヶ沢高等学校<br class="sp" />ブース</h3>
          <div class="item_text">
            <h4>●SBP研究会</h4>
            <p>
              鯵高生が長谷川自然牧場ハンバーグ入りの「力士くんおやき」を販売！
              <br />
              その腕前をご賞味あれ！
            </p>
            <h4>●パターゴルフ体験</h4>
            <p>
              鰺ヶ沢高校ゴルフ部が運営するコーナーです。<br />
              お一人様5打まで。カップインすると「飴っこ」をプレゼント！
            </p>
          </div>
          <div class="item_image box">
            <div>
              <Image src={Rikishi} alt="力士くんおやき" />
            </div>
            <div>
              <Image src={Golf} alt="パターゴルフ" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

  <footer class="footer">
    <div class="cta">
      <p><a href="/">あじがさわフードフェス2024詳細はこちら</a></p>
    </div>
  </footer>
</Layout>
<style lang="scss">
  .cta {
    padding-top: 120px;
    position: fixed;
    bottom: 0;
    left: 0;
    background: url(/images/footer-bg.svg) no-repeat top / cover;
    padding: clamp(2rem, 1.733rem + 1.33vw, 6rem) 0;
    width: 100%;
    text-align: center;
    color: #fff;
    z-index: 99;
    p {
      font-size: clamp(1rem, 0.667rem + 1.67vw, 6rem);
      font-weight: 700;
      margin: 20px 0 0 0;
      a {
        color: #fff;
        text-decoration: none;
        &:before {
          content: "＼";
          margin-right: 0.5rem;
          color: #fff;
        }
        &:after {
          content: "／";
          margin-left: 0.5rem;
          color: #fff;
        }
      }
    }
  }
  // 変数定義
  $primary-color: #0047ba;
  $white: #fff;
  $grey: #dce7eb;
  $red: #ff6873;
  $mobile-breakpoint: 599px;
  $tablet-breakpoint: 900px;

  // ミックスイン
  @mixin mobile {
    @media (max-width: $mobile-breakpoint) {
      @content;
    }
  }
  @mixin tablet {
    @media (min-width: $mobile-breakpoint + 1) and (max-width: $tablet-breakpoint - 1) {
      @content;
    }
  }
  @mixin desktop {
    @media (min-width: $tablet-breakpoint) {
      @content;
    }
  }

  @mixin responsive-font($desktop-size, $mobile-size) {
    font-size: $desktop-size;
    @include mobile {
      font-size: $mobile-size;
    }
  }

  // プレースホルダーセレクタ
  %centered-content {
    max-width: 95%;
    margin: 0 auto;
  }

  %transition {
    transition: all 0.25s ease-in-out;
  }
  %no-select {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
    user-select: none;
  }
  %flipIn {
    animation: flipdown 0.5s ease both;
  }

  // 色定義
  $colors: (
    "lightblue": #fffcd2,
    "brown": #510102,
    "pink": #feb3d2,
    "teal": #a0d9f3,
    "lightteal": #c0e9e5,
    "red": #ff0000,
    "white": #fff,
  );

  @each $name, $color in $colors {
    .bg-#{$name} {
      background-color: $color;
    }
  }

  .color-blue {
    color: $primary-color;
  }
  .color-white {
    color: $white;
  }

  .color-brown {
    color: #510102;
  }

  // 基本レイアウト
  .container {
    max-width: 1280px;
    margin: 0 auto;
  }

  // ヘッダーセクション
  header .hero {
    @extend %centered-content;
    background-color: #330001;
    color: $white;
    border-radius: 1rem;

    .hero-inner {
      margin-top: 80px;
      padding: 2rem;

      h1 {
        @include responsive-font(5vw, 11vw);
        text-align: center;
        font-weight: 700;
        @include mobile {
          margin: 0;
        }
      }

      p {
        @include responsive-font(2vw, 5vw);
        font-weight: 600;
        text-align: center;
        line-height: 1.8;
      }
    }
  }

  // メインコンテンツ
  main {
    padding-bottom: 60px;
    margin-bottom: 220px;

    .main_contents {
      @extend %centered-content;

      .main_contents-item {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        @media (max-width: 599px) {
          gap: 0;
        }
        margin-top: 2rem;

        @include mobile {
          flex-direction: column;
        }

        %item-shared {
          position: relative;
          border-radius: 1rem;
          padding: 4rem;
          @media (max-width: 599px) {
            padding: 0;
          }
        }

        .item_left {
          @extend %item-shared;
          flex: 1;
          overflow: hidden;

          h2,
          p {
            position: relative;
            z-index: 2;
          }

          h2 {
            @include responsive-font(2.5vw, 6vw);
            font-weight: 900;
          }

          p {
            @include responsive-font(2vw, 5vw);
            font-weight: 900;
          }

          img {
            width: 100%;
            height: auto;
            z-index: 1;
            border-radius: 16px;
            @include mobile {
              bottom: 0;
            }
          }
        }

        .item_right {
          flex: 1;

          h2 {
            @include responsive-font(clamp(3vw, 3vw, 2vw), 6vw);
            background-color: #510102;
            color: #fff;
            padding: 1rem;
            border-radius: 8px;
          }
          h3 {
            @include responsive-font(clamp(2vw, 2.2vw, 1.8vw), 6vw);
          }
          p {
            @include responsive-font(clamp(2vw, 2.2vw, 3vw), 5vw);
            margin-bottom: 8px;
          }

          h2,
          h3,
          p {
            font-weight: 500;
          }

          ul {
            list-style-type: none;
            padding-left: 1em;

            li {
              margin-bottom: 8px;
              font-weight: 500;
              @include mobile {
                font-size: 5vw;
              }

              &:nth-of-type(1) {
                font-size: clamp(24px, 2vw, 2.2vw);
                width: fit-content;
                border-bottom: solid 2px;
              }

              &:nth-of-type(2) {
                font-size: clamp(20px, 2vw, 1.6vw);
              }
            }
          }
        }

        .item_center {
          @extend %item-shared;
          display: flex;
          flex-wrap: wrap;
          gap: 0 clamp(1.875rem, 1.5rem + 1.88vw, 3.75rem);
          padding: clamp(1rem, 0.667rem + 1.67vw, 6rem);

          h3 {
            @include responsive-font(4vw, 10vw);
            font-weight: 900;
            width: 100%;
            @include mobile {
              text-align: center;
              margin: 1rem 0;
            }
          }

          ul {
            list-style-type: none;
            font-weight: 600;
            margin: 0;
            padding: 0;

            li {
              display: flex;
              gap: clamp(1rem, 0.6rem + 2vw, 3rem);
              p {
                position: relative;
                z-index: 2;
              }
            }
          }

          .item_image {
            flex: 1;
            display: flex;
            flex-direction: column;
            gap: clamp(1rem, 5vw, 6rem);
            @include mobile {
              padding: 2rem;
            }

            div {
              flex: 1;
              img {
                width: 100%;
                height: auto;
                margin: 0 auto;
              }
            }
          }

          .item_text {
            width: 65%;
            @include mobile {
              width: 100%;
            }

            h4 {
              @include responsive-font(3vw, 6vw);
              font-weight: 600;
              margin-top: 0;
              margin-bottom: 8px;
            }

            p {
              @include responsive-font(2.5vw, 5vw);
              font-weight: 600;
              margin-bottom: clamp(1rem, -0.4rem + 7vw, 8rem);
            }
          }
        }
      }
    }
  }

  .footer {
    margin-top: 4rem;

    &__image {
      background: url(/images/footer-bg.svg) no-repeat top / cover;

      .forward {
        padding: 3rem 0;
      }

      img {
        width: 100% !important;
        height: auto !important;
      }
    }
  }

  // レスポンシブ表示制御
  .pc {
    display: none;
    @media (min-width: 768px) {
      display: block;
    }
  }

  .sp {
    display: none;
    @media (max-width: 767px) {
      display: block;
      img {
        width: 100%;
        height: auto;
      }
    }
  }
</style>
<script>
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";
  gsap.registerPlugin(ScrollTrigger);

  // 共通の設定
  const commonScrollTriggerConfig = {
    start: "top bottom",
    end: "bottom top",
    scrub: 0.1,
  };

  // データYを取得する関数
  function getDataYBasedOnScreenSize() {
    return window.innerWidth < 600 ? "5vw" : "10vw";
  }

  // パララックス効果を適用する関数
  function applyParallax(wrap) {
    const y = wrap.getAttribute("data-y") || getDataYBasedOnScreenSize();
    gsap.to(wrap, {
      y: y,
      scrollTrigger: {
        trigger: wrap,
        ...commonScrollTriggerConfig,
      },
    });
  }

  // 初期設定
  gsap.utils.toArray(".js-parallax").forEach(applyParallax);

  // デバウンス関数
  function debounce(func, wait) {
    let timeout;
    return function executedFunction(...args) {
      const later = () => {
        clearTimeout(timeout);
        func(...args);
      };
      clearTimeout(timeout);
      timeout = setTimeout(later, wait);
    };
  }

  // リサイズイベントのデバウンス処理
  const debouncedResize = debounce(() => {
    gsap.utils.toArray(".js-parallax").forEach(applyParallax);
  }, 250);

  // リサイズイベントリスナー
  window.addEventListener("resize", debouncedResize);

  // ボックス内の画像アニメーション
  gsap.utils.toArray(".box").forEach((box) => {
    gsap.utils.toArray("img", box).forEach((img) => {
      gsap.fromTo(
        img,
        { scale: 1, autoAlpha: 0 },
        {
          scale: 1.1,
          autoAlpha: 1,
          scrollTrigger: {
            trigger: img,
            toggleActions: "play none none reverse",
            start: "top center",
            markers: false,
          },
        }
      );
    });
  });
</script>
