---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import Mainimage from "../images/main-image.webp";
import FooterDesc from "../images/footer__image.svg";
import Menubar from "../modules/Menubar.astro";
import StorelistLimit from "../images/storelist-limit.svg";
import StorelistTitle from "../images/storelist-title.svg";
---

<Layout title="商品券取扱店舗一覧 | あじがさわフードフェス2024">
  <Menubar />
  <header class="header">
    <div class="header__image">
      <Image
        src={Mainimage}
        alt="あじがさわフードフェス2024 メインビジュアル"
      />
    </div>
  </header>
  <main>
    <div class="main__desc">
      <div class="storelist__about">
        <h2>あじがさわフードフェス商品券について</h2>
        <ul>
          <li>
            商品券はあじがさわフードフェス2024取扱店舗のみでご使用いただけます。
          </li>
          <li>商品券は現金とのお引換えはできません。</li>
          <li>商品券で購入した商品の返品はできません。</li>
          <li>ご使用に際してのつり銭はご容赦ください。</li>
          <li>
            商品券は、金券類、その他取扱店舗で指定した商品等の購入にはご使用いただくことができません。
          </li>
          <li>
            商品券の盗難・紛失または滅失の場合には、責任は負いませんので大切にお取り扱いください。
          </li>
          <li>
            著しく破損、汚損した場合はご使用いただくことができなくなります。また、再発行もいたしかねますのでご了承ください。
          </li>
          <li>
            商品券は、使用期間（令和6年11月30日）を経過したものは無効です。
          </li>
        </ul>
        <Image
          src={StorelistLimit}
          alt="あじがさわフードフェス2024 メインビジュアル"
        />
      </div>
      <div class="storelist">
        <Image
          src={StorelistTitle}
          alt="あじがさわフードフェス2024 メインビジュアル"
        />
      </div>
      <div class="flex">
        <p class="area">鰺ヶ沢地区</p>
        <div class="flex__item">
          <div class="storelist__item">
            <div class="storelist__item-header">
              <h3>銘菓の店 山ざき</h3>
            </div>
            <div class="storelist__item-body">
              <ul>
                <li><span>住所</span><p>鰺ヶ沢町本町59</p></li>
                <li><span>電話</span><p>0173-72-2002</p></li>
                <li><span>定休日</span><p>無休</p></li>
                <li><span>営業時間</span><p>8:30～17:30</p></li>
                <li class="site">
                  <a href="https://wagashi-ajigasawa.com" target="_blank"
                    >ホームページ</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="flex__item">
          <div class="storelist__item">
            <div class="storelist__item-header">
              <h3>割烹 水天閣</h3>
            </div>
            <div class="storelist__item-body">
              <ul>
                <li><span>住所</span><p>鰺ヶ沢町本町200-2</p></li>
                <li><span>電話</span><p>0173-72-2024</p></li>
                <li><span>定休日</span><p>月曜日</p></li>
                <li>
                  <span>営業時間</span><p>
                    〈昼の部〉11:00～14:00<br />〈夜の部〉17:00～22:00
                  </p>
                </li>
                <li class="site">
                  <a href="https://suitenkaku.com" target="_blank"
                    >ホームページ</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="flex__item">
          <div class="storelist__item">
            <div class="storelist__item-header">
              <h3>網野仕出し店</h3>
            </div>
            <div class="storelist__item-body">
              <ul>
                <li><span>住所</span><p>鰺ヶ沢町淀町24-1</p></li>
                <li><span>電話</span><p>0173-72-5858</p></li>
                <li><span>定休日</span><p>不定休</p></li>
                <li>
                  <span>営業時間</span><p>8:00〜17:00</p>
                </li>
                <li class="site">
                  <a href="https://amino5858.com/index.html" target="_blank"
                    >ホームページ</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="flex__item">
          <div class="storelist__item">
            <div class="storelist__item-header">
              <h3>児雷也</h3>
            </div>
            <div class="storelist__item-body">
              <ul>
                <li><span>住所</span><p>鰺ヶ沢町本町75</p></li>
                <li><span>電話</span><p>0173-72-2065</p></li>
                <li><span>定休日</span><p>火曜日</p></li>
                <li>
                  <span>営業時間</span><p>15:00～23:00（L.O.22:00）</p>
                </li>
                <li class="site">
                  <a
                    href="https://www.instagram.com/ajigasawa.jiraiya/"
                    target="_blank">Instagram</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="flex__item">
          <div class="storelist__item">
            <div class="storelist__item-header">
              <h3>漁師メシ 波（海の駅わんど内）</h3>
            </div>
            <div class="storelist__item-body">
              <ul>
                <li><span>住所</span><p>鰺ヶ沢町本町246-4</p></li>
                <li><span>電話</span><p>0173-72-6661</p></li>
                <li><span>定休日</span><p>11月13日</p></li>
                <li>
                  <span>営業時間</span><p>9:00～17:00</p>
                </li>
                <li>
                  ※海の駅わんどの対象店、3店舗以外ではご利用いただけませんのでご注意ください。
                </li>
                <li class="site">
                  <a
                    href="https://www.instagram.com/ryoshimeshi.nami//"
                    target="_blank">Instagram</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="flex__item">
          <div class="storelist__item">
            <div class="storelist__item-header">
              <h3>Café 水とコーヒー（海の駅わんど内）</h3>
            </div>
            <div class="storelist__item-body">
              <ul>
                <li><span>住所</span><p>鰺ヶ沢町本町246-4</p></li>
                <li><span>電話</span><p>0173-72-6661</p></li>
                <li><span>定休日</span><p>11月13日</p></li>
                <li>
                  <span>営業時間</span><p>9:00～17:00</p>
                </li>
                <li>
                  ※海の駅わんどの対象店、3店舗以外ではご利用いただけませんのでご注意ください。
                </li>
                <li class="site">
                  <a
                    href="https://bisuikan.co.jp/cafe/index.html"
                    target="_blank">ホームページ</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="flex__item">
          <div class="storelist__item">
            <div class="storelist__item-header">
              <h3>農産物直売所「あじ・彩・感」倶楽部（海の駅わんど内）</h3>
            </div>
            <div class="storelist__item-body">
              <ul>
                <li><span>住所</span><p>鰺ヶ沢町本町246-4</p></li>
                <li><span>電話</span><p>0173-72-7887</p></li>
                <li><span>定休日</span><p>11月13日</p></li>
                <li>
                  <span>営業時間</span><p>9:00～17:00</p>
                </li>
                <li>
                  ※海の駅わんどの対象店、3店舗以外ではご利用いただけませんのでご注意ください。
                </li>
                <li class="site">
                  <a href="https://r.goope.jp/ajisaikan/" target="_blank"
                    >ホームページ</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="flex__item">
          <div class="storelist__item">
            <div class="storelist__item-header">
              <h3>サトウコーヒー</h3>
            </div>
            <div class="storelist__item-body">
              <ul>
                <li><span>住所</span><p>鰺ヶ沢町舞戸町字西松島64</p></li>
                <li><span>電話</span><p>0173-72-5026</p></li>
                <li><span>定休日</span><p>水曜日、第3火曜日</p></li>
                <li>
                  <span>営業時間</span><p>
                    〈平日〉9:00～14:00（L.O13:30）／17:00～22:00（L.O21:30）<br
                    />
                    〈土日祝〉9:00～22:00（L.O21:30）
                  </p>
                </li>
                <li class="site">
                  <a
                    href="https://www.instagram.com/sato.coffe/"
                    target="_blank">Instagram</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="flex__item">
          <div class="storelist__item">
            <div class="storelist__item-header">
              <h3>ドライブイン汐風</h3>
            </div>
            <div class="storelist__item-body">
              <ul>
                <li><span>住所</span><p>鰺ヶ沢町赤石町大和田38-1</p></li>
                <li><span>電話</span><p>0173-72-3401</p></li>
                <li><span>定休日</span><p>年末年始</p></li>
                <li>
                  <span>営業時間</span><p>
                    〈夏期〉10:00～17:00（L.O16:30）<br />
                    〈冬期〉10:00～16:00
                  </p>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="flex__item"></div>
        <p class="area">舞戸地区</p>
        <div class="flex__item">
          <div class="storelist__item">
            <div class="storelist__item-header">
              <h3>K2マート</h3>
            </div>
            <div class="storelist__item-body">
              <ul>
                <li><span>住所</span><p>鰺ヶ沢町舞戸町西禿25-2</p></li>
                <li><span>電話</span><p>0173-82-2520</p></li>
                <li><span>定休日</span><p>無休</p></li>
                <li>
                  <span>営業時間</span><p>
                    〈4月～12月〉9:00～20:00<br />
                    〈1月～3月〉9:00～19:00
                  </p>
                </li>
                <li class="site">
                  <a
                    href="https://www.instagram.com/k2mar_t/?locale=pt_PT"
                    target="_blank">Instagram</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="flex__item">
          <div class="storelist__item">
            <div class="storelist__item-header">
              <h3>和菓子処 山ざき（K2マート内）</h3>
            </div>
            <div class="storelist__item-body">
              <ul>
                <li><span>住所</span><p>鰺ヶ沢町舞戸町西禿25-2</p></li>
                <li><span>電話</span><p>0173-72-2730</p></li>
                <li><span>定休日</span><p>無休</p></li>
                <li>
                  <span>営業時間</span><p>
                    〈4月～12月〉9:00～19:00<br />
                    〈1月～3月〉9:00～19:00
                  </p>
                </li>
                <li class="site">
                  <a href="https://wagashi-ajigasawa.com" target="_blank"
                    >ホームページ</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="flex__item">
          <div class="storelist__item">
            <div class="storelist__item-header">
              <h3>菓子工房 TATUYA　本店</h3>
            </div>
            <div class="storelist__item-body">
              <ul>
                <li><span>住所</span><p>鰺ヶ沢町舞戸町字下富田53-1</p></li>
                <li><span>電話</span><p>0173-72-2857</p></li>
                <li><span>定休日</span><p>無休</p></li>
                <li>
                  <span>営業時間</span><p>9:00～18:00</p>
                </li>
                <li class="site">
                  <a href="https://okashino-tatuya.com/" target="_blank"
                    >ホームページ</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="flex__item">
          <div class="storelist__item">
            <div class="storelist__item-header">
              <h3>焼肉レストラン一心亭　鰺ヶ沢店</h3>
            </div>
            <div class="storelist__item-body">
              <ul>
                <li><span>住所</span><p>鰺ヶ沢町舞戸町下富田91-1</p></li>
                <li><span>電話</span><p>0173-72-8929</p></li>
                <li><span>定休日</span><p>無休</p></li>
                <li>
                  <span>営業時間</span><p>
                    〈平日〉11:30～15:00（L.O14:30）／17:00～22:00（L.O21:30）<br
                    />
                    〈土日祝〉11:30～22:00（L.O21:30）
                  </p>
                </li>
                <li class="site">
                  <a
                    href="https://isshintei.co.jp/ajigasawa.html"
                    target="_blank">ホームページ</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="flex__item">
          <div class="storelist__item">
            <div class="storelist__item-header">
              <h3>たこやき西海</h3>
            </div>
            <div class="storelist__item-body">
              <ul>
                <li><span>住所</span><p>鰺ヶ沢町舞戸町下富田29-115</p></li>
                <li><span>電話</span><p>0173-72-5937</p></li>
                <li><span>定休日</span><p>水曜日</p></li>
                <li>
                  <span>営業時間</span><p>10:00～17:00（売り切れ次第終了）</p>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="flex__item">
          <div class="storelist__item">
            <div class="storelist__item-header">
              <h3>會津めん 浜さき</h3>
            </div>
            <div class="storelist__item-body">
              <ul>
                <li><span>住所</span><p>鰺ヶ沢町舞戸町下富田55-2</p></li>
                <li><span>定休日</span><p>水曜日</p></li>
                <li>
                  <span>営業時間</span><p>11:00～15:00</p>
                </li>
                <li class="site">
                  <a
                    href="https://www.instagram.com/aizumen.hamasaki/"
                    target="_blank">Instagram</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="flex__item">
          <div class="storelist__item">
            <div class="storelist__item-header">
              <h3>精肉・惣菜のろ（ショッピングセンターパル内）</h3>
            </div>
            <div class="storelist__item-body">
              <ul>
                <li><span>住所</span><p>鰺ヶ沢町舞戸町上富田149-2</p></li>
                <li><span>電話</span><p>0173-72-2422</p></li>
                <li><span>定休日</span><p>無休</p></li>
                <li>
                  <span>営業時間</span><p>
                    〈4月～9月〉9:00～20:00 <br />〈10月～3月〉9:00～19:00
                  </p>
                </li>
                <li>
                  ※ショッピングセンターパルの対象店、4店舗以外ではご利用いただけませんのでご注意ください。
                </li>
                <li class="site">
                  <a href="http://ajipal.jp/" target="_blank">パルHP</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="flex__item">
          <div class="storelist__item">
            <div class="storelist__item-header">
              <h3>スーパーとびしま（ショッピングセンターパル内）</h3>
            </div>
            <div class="storelist__item-body">
              <ul>
                <li><span>住所</span><p>鰺ヶ沢町舞戸町上富田149-2</p></li>
                <li><span>電話</span><p>0173-72-2141</p></li>
                <li><span>定休日</span><p>無休</p></li>
                <li>
                  <span>営業時間</span><p>
                    〈4月～9月〉9:00～20:00 <br />〈10月～3月〉9:00～19:00
                  </p>
                </li>
                <li>
                  ※ショッピングセンターパルの対象店、4店舗以外ではご利用いただけませんのでご注意ください。
                </li>
                <li class="site">
                  <a href="http://ajipal.jp/" target="_blank">パルHP</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="flex__item">
          <div class="storelist__item">
            <div class="storelist__item-header">
              <h3>菓子工房 TATUYA（ショッピングセンターパル内）</h3>
            </div>
            <div class="storelist__item-body">
              <ul>
                <li><span>住所</span><p>鰺ヶ沢町舞戸町上富田149-2</p></li>
                <li><span>電話</span><p>0173-72-5885</p></li>
                <li><span>定休日</span><p>無休</p></li>
                <li>
                  <span>営業時間</span><p>9:00～19:00</p>
                </li>
                <li>
                  ※ショッピングセンターパルの対象店、4店舗以外ではご利用いただけませんのでご注意ください。
                </li>
                <li class="site">
                  <a href="https://okashino-tatuya.com/" target="_blank"
                    >ホームページ</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="flex__item">
          <div class="storelist__item">
            <div class="storelist__item-header">
              <h3>Boulangerie TATSUYA（ショッピングセンターパル内）</h3>
            </div>
            <div class="storelist__item-body">
              <ul>
                <li><span>住所</span><p>鰺ヶ沢町舞戸町上富田149-2</p></li>
                <li><span>電話</span><p>0173-72-5885</p></li>
                <li><span>定休日</span><p>無休</p></li>
                <li>
                  <span>営業時間</span><p>9:00～19:00</p>
                </li>
                <li>
                  ※ショッピングセンターパルの対象店、4店舗以外ではご利用いただけませんのでご注意ください。
                </li>
                <li class="site">
                  <a href="https://okashino-tatuya.com/" target="_blank"
                    >ホームページ</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
        <p class="area">鳴沢地区</p>
        <div class="flex__item">
          <div class="storelist__item">
            <div class="storelist__item-header">
              <h3>ABITANiAジャージーファーム</h3>
            </div>
            <div class="storelist__item-body">
              <ul>
                <li><span>住所</span><p>鰺ヶ沢町建石町大曲225-2</p></li>
                <li><span>電話</span><p>0173-72-1727</p></li>
                <li><span>定休日</span><p>火曜日</p></li>
                <li>
                  <span>営業時間</span><p>
                    〈月曜〉10:00～15:00<br />
                    〈水曜～日曜〉10:00～16:00（11月〜15:00まで）
                  </p>
                </li>
                <li class="site">
                  <a href="https://www.facebook.com/cafemilmu/" target="_blank"
                    >Facebook</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="flex__item">
          <div class="storelist__item">
            <div class="storelist__item-header">
              <h3>CONVEY お山の上工房</h3>
            </div>
            <div class="storelist__item-body">
              <ul>
                <li><span>住所</span><p>鰺ヶ沢町建石町成沢53-2</p></li>
                <li><span>電話</span><p>080-4200-1646</p></li>
                <li><span>定休日</span><p>不定休</p></li>
                <li>
                  <span>営業時間</span><p>
                    不定期で食イベントを開催しています。
                    開催情報はHPでご確認ください。
                  </p>
                </li>
                <li class="site">
                  <a href="https://www.conveyfood.com/" target="_blank"
                    >ホームページ</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="flex__item">
          <div class="storelist__item">
            <div class="storelist__item-header">
              <h3>株式会社 SATO FARM</h3>
            </div>
            <div class="storelist__item-body">
              <ul>
                <li><span>住所</span><p>鰺ヶ沢町建石町雲雀野109-2</p></li>
                <li><span>電話</span><p>0173-82-0395</p></li>
                <li><span>定休日</span><p>日曜日</p></li>
                <li>
                  <span>営業時間</span><p>8:00〜17:00</p>
                </li>
                <li class="site">
                  <a
                    href="https://www.instagram.com/megumi__farm/"
                    target="_blank">Instagram</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="flex__item"></div>
        <p class="area">赤石地区</p>
        <div class="flex__item">
          <div class="storelist__item">
            <div class="storelist__item-header">
              <h3>まつみや酒店</h3>
            </div>
            <div class="storelist__item-body">
              <ul>
                <li><span>住所</span><p>鰺ヶ沢町赤石町宇名原18-8</p></li>
                <li><span>電話</span><p>0173-72-2382</p></li>
                <li><span>定休日</span><p>第1・第3日曜</p></li>
                <li>
                  <span>営業時間</span><p>7:30～19:00</p>
                </li>
                <li class="site">
                  <a
                    href="https://tsugaru-matsumiya.jp/gofukusake/"
                    target="_blank">ホームページ</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="flex__item"></div>
      </div>
    </div>
  </main>
  <footer>
    <div class="footer__image">
      <div class="forward">
        <Image src={FooterDesc} alt="概要欄" />
      </div>
    </div>
  </footer>
</Layout>
<style lang="scss">
  body {
    color: #2f0707;
    font-weight: 700;
  }
  // 変数定義
  $primary-color: #0047ba;
  $white: #fff;
  $grey: #dce7eb;
  $red: #ff6873;
  $mobile-breakpoint: 599px;
  $tablet-breakpoint: 900px;

  :root {
    --blue: #0b318f;
    --green: #006934;
    --orange: #f08d08;
    --beige: #b28247;
    --pink: #ee8485;
    --red: #e60012;
  }

  // ミックスイン
  @mixin mobile {
    @media (max-width: $mobile-breakpoint) {
      @content;
    }
  }
  @mixin tablet {
    @media (min-width: $mobile-breakpoint + 1) and (max-width: $tablet-breakpoint - 1) {
      @content;
    }
  }
  @mixin desktop {
    @media (min-width: $tablet-breakpoint) {
      @content;
    }
  }
  @mixin responsive-font($desktop-size, $mobile-size) {
    font-size: $desktop-size;
    @include mobile {
      font-size: $mobile-size;
    }
  }

  // プレースホルダーセレクタ
  %centered-content {
    max-width: 95%;
    margin: 0 auto;
  }
  %transition {
    transition: all 0.25s ease-in-out;
  }
  %no-select {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
    user-select: none;
  }
  %flipIn {
    animation: flipdown 0.5s ease both;
  }

  // 色定義
  $colors: (
    "lightblue": #fffcd2,
    "brown": #510102,
    "pink": #feb3d2,
    "teal": #a0d9f3,
    "lightteal": #c0e9e5,
    "red": #ff0000,
    "white": #fff,
  );

  @each $name, $color in $colors {
    .bg-#{$name} {
      background-color: $color;
    }
  }

  // 共通スタイル
  header,
  main,
  footer {
    background-color: #fffcd1;
  }
  header {
    position: relative;
    z-index: 1;
  }
  main {
    padding: clamp(1rem, 0.8rem + 1vw, 4rem);
    @include mobile {
      margin-bottom: 50px;
    }
  }
  .container {
    max-width: 1440px;
    margin: 0 auto;
  }
  .container-fluid {
    max-width: 1920px;
    margin: 0 auto;
  }
  .header__image {
    width: 100%;
    position: relative;
    z-index: 1;
    .back {
      position: relative;
      z-index: 1;
    }
    .forward {
      position: absolute;
      bottom: -1rem;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 90%;
      height: auto;
      z-index: 3;
    }
    img {
      width: 100%;
      height: auto;
    }
  }
  .header__title {
    background-color: #330001;
    position: relative;
    padding: 5rem 5rem 1rem 5rem;
    z-index: 2;
    margin-top: -7rem;
    img {
      width: 100%;
      height: auto;
    }
    .header__title-text {
      width: 100%;
      height: auto;
      margin-top: -20rem;
    }
  }
  .main__desc {
    width: 100%;
    margin: 0 auto;
    img {
      width: 100%;
      height: auto;
    }
  }
  .footer__image {
    background-size: cover;
    background-position: bottom 400px;

    img {
      width: 100% !important;
      height: auto !important;
    }
  }
  .pc {
    display: none;
    @include tablet {
      display: block;
    }
  }
  .sp {
    display: none;
    @include mobile {
      display: block;
    }
    img {
      width: 100%;
      height: auto;
    }
  }

  .blue {
    background-color: var(--blue);
  }
  .green {
    background-color: var(--green);
  }
  .orange {
    background-color: var(--orange);
  }
  .beige {
    background-color: var(--beige);
  }
  .pink {
    background-color: var(--pink);
  }
  .red {
    background-color: var(--red);
  }

  .area {
    width: 100%;
    color: #2f0707;
    font-size: 2rem;
    background: #d0ecff;
    line-height: 1.4;
    padding: 0.25em 0.5em;
    margin: 2em 0 0.5em;
    border-radius: 0 5px 5px 5px;
    position: relative;
    &:first-letter {
      font-size: 2em;
      color: #2f0707;
    }
    &:after {
      position: absolute;
      font-weight: 900;
      content: "Area";
      background: #2196f3;
      color: #fff;
      left: 0px;
      bottom: 100%;
      border-radius: 5px 5px 0 0;
      padding: 3px 7px 1px;
      font-size: 0.7em;
      line-height: 1;
      letter-spacing: 0.05em;
    }
  }

  .storelist {
    max-width: 1280px;
    margin: 2rem auto 0;
    padding: 2rem;
    text-align: center;
    border-radius: 5px;
    p,
    h1 {
      margin: 0;
    }
  }

  .flex {
    max-width: 1280px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
    gap: 1rem;

    .flex__item {
      flex: 1 1 calc(50% - 1rem);
      margin: 0 auto;
      img {
        width: 100%;
        height: auto;
      }
    }
    @media (max-width: 768px) {
      /* SP時 */
      .flex__item {
        flex: 1 1 100%; /* 1列 */
      }
    }
  }

  .storelist__item {
    margin-top: 1rem;
  }

  .storelist__item-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    p {
      flex: 1.5;
      background-color: #2f0707;
      color: $white;
      padding: 1rem;
      font-weight: 600;
      margin: 0;
    }
    h3 {
      flex: 3;
      background-color: $white;
      padding: 1rem;
      margin: 0;
      border-radius: 5px;
      position: relative;
      background-color: #fff;
      color: #2f0707;
      margin-bottom: 1rem;
      &:after {
        position: absolute;
        content: "";
        top: 100%;
        left: 30px;
        border: 15px solid transparent;
        border-top: 15px solid #fff;
        width: 0;
        height: 0;
      }
    }
  }

  .storelist__item-body {
    ul {
      list-style-type: none; /* 行頭文字を消す */
      padding: 0;
      margin: 0;
    }

    li {
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }

    li span::after {
      content: "・・・"; /* 3点リーダーを付与 */
    }
    li span {
      flex: 1;
      text-align: justify; /* 均等割り付け */
      text-align-last: justify; /* 最後の行も均等割り付け */
    }
    li p {
      flex: 3;
      @media (max-width: 768px) {
        flex: 2;
      }
      margin: 8px 0;
      span {
        font-size: small;
      }
    }
  }

  .site {
    margin-top: 1rem;
    display: flex;
    justify-content: flex-end;
    a {
      color: $white;
      background-color: #2f0707;
      padding: 1rem;
      text-decoration: none;
      border-radius: 5px;
    }
  }

  .storelist__about {
    max-width: 1280px;
    margin: 0 auto;
    position: relative;
    overflow: hidden; /* 波状の背景がはみ出さないようにする */
    h2 {
      padding: 2rem;
      background: #2f0707;
      color: $white;
      text-align: center;
      border-radius: 5px;
    }
    img {
      width: 80%;
      margin: 0 auto;
      display: block;
    }
  }
</style>

<script>
  // すべてのチェックボックスにイベントリスナーを追加
  document.querySelectorAll(".toggleCheckbox").forEach(function (checkbox) {
    checkbox.addEventListener("change", function (event) {
      // すべてのターゲット要素を非表示にする
      document.querySelectorAll(".toggleCheckbox").forEach(function (cb) {
        const targetId = cb.getAttribute("data-target");
        const targetElement = document.getElementById(targetId);
        if (targetElement) {
          targetElement.style.display = "none";
        }
      });

      // data-target 属性で指定された要素のIDを取得
      const targetId = this.getAttribute("data-target");
      const targetElement = document.getElementById(targetId);

      // クリックされたチェックボックスのターゲット要素を表示
      if (targetElement) {
        targetElement.style.display = "block";
      }

      // イベントのバブリングを停止
      event.stopPropagation();
    });
  });

  // 要素外をクリックしたときにすべてのターゲット要素を非表示にする
  document.addEventListener("click", function () {
    document.querySelectorAll(".toggleCheckbox").forEach(function (cb) {
      const targetId = cb.getAttribute("data-target");
      const targetElement = document.getElementById(targetId);
      if (targetElement) {
        targetElement.style.display = "none";
      }
    });
  });
</script>
